<head th:replace="~{partials/head :: head('FremontMI - Register')}"></head>
<body>
<div class="d-lg-flex position-relative h-100">

    <!-- Home button -->
    <a class="text-nav btn btn-icon bg-light border rounded-circle position-absolute top-0 end-0 p-0 mt-3 me-3 mt-sm-4 me-sm-4" href="/" data-bs-toggle="tooltip" data-bs-placement="left" title="Back to home" aria-label="Back to home">
        <i class="ai-home"></i>
    </a>

    <!-- Sign up form -->
    <div class="d-flex flex-column align-items-center w-lg-50 h-100 px-3 px-lg-5 pt-5">
        <div class="w-100 mt-auto" style="max-width: 526px;">
            <h1>No account? Sign up</h1>
            <p class="pb-3 mb-3 mb-lg-4">Have an account already?&nbsp;&nbsp;<a href="/login">Sign in here!</a></p>
            <form th:action="@{/register}" th:object="${userRegistrationDto}" method="post" onsubmit="disableSubmitButtonWhileSubmitting(this)">
                <div class="row row-cols-1 row-cols-sm-2">
                    <div class="col mb-4">
                        <label class="mb-1 form-label opacity-75 fw-semibold fs-base" for="firstName">First Name</label>
                        <input class="form-control form-control-lg" type="text" name="firstName" id="firstName" th:field="*{firstName}" placeholder="First name" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
                    </div>
                    <div class="col mb-4">
                        <label class="mb-1 form-label opacity-75 fw-semibold fs-base" for="lastName">Last Name</label>
                        <input class="form-control form-control-lg" type="text" id="lastName" name="lastName" th:field="*{lastName}" placeholder="Last name" required>
                        <span class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
                    </div>
                </div>
                <div class="mb-4">
                    <label class="mb-1 form-label opacity-75 fw-semibold fs-base" for="username">Username</label>
                    <input class="form-control form-control-lg" type="text" id="username" name="username" th:field="*{username}" placeholder="Username" required>
                    <span class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Password Error</span>
                </div>
                <div class="mb-4">
                    <label class="mb-1 form-label opacity-75 fw-semibold fs-base" for="email">Email Address</label>
                    <input class="form-control form-control-lg" type="email" id="email" name="email" th:field="*{email}" placeholder="Email address" required>
                    <span class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Password Error</span>
                </div>
                <div class="mb-3">
                    <label class="mb-1 form-label opacity-75 fw-semibold fs-base" for="password">Password</label>
                    <div class="password-toggle">
                        <input class="form-control form-control-lg" type="password" id="password" name="password" placeholder="Password" required>
                        <label class="password-toggle-btn" aria-label="Show/hide password">
                            <input class="password-toggle-check" type="checkbox">
                            <span class="password-toggle-indicator"></span>
                        </label>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
                </div>
                <div class="mb-3">
                    <label class="mb-1 form-label opacity-75 fw-semibold fs-base" for="matchingPassword">Confirm Password</label>
                    <div class="password-toggle">
                        <input class="form-control form-control-lg" type="password" id="matchingPassword" name="matchingPassword" placeholder="Confirm password" required>
                        <label class="password-toggle-btn" aria-label="Show/hide password">
                            <input class="password-toggle-check" type="checkbox">
                            <span class="password-toggle-indicator"></span>
                        </label>
                    </div>
                    <span class="text-danger" th:if="${#fields.hasErrors('matchingPassword')}" th:errors="*{matchingPassword}">Matching Password Error</span>
                </div>
                <div class="pb-4">
                    <div class="form-check my-2">
                        <input class="form-check-input" type="checkbox" id="terms" name="termsAccepted" required>
                        <label class="form-check-label ms-1" for="terms">Check this box to confirm you are at least 18 years old and agree to our <a href="/terms-of-service" target="_blank">terms of service</a> and <a href="/privacy-policy" target="_blank">privacy policy</a>.</label>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('termsAccepted')}" th:errors="*{termsAccepted}">You must agree to the terms to register.</div>
                    </div>
                </div>
                <button class="btn btn-lg btn-primary w-100 mb-4" type="submit">Register</button>

            </form>
        </div>

        <!-- Copyright -->
        <p class="nav w-100 fs-sm pt-5 mt-auto mb-5" style="max-width: 526px;"></p>
    </div>


    <!-- Cover image -->
    <div class="w-50 bg-size-cover bg-repeat-0 bg-position-center" style="background-image: url(images/cover.jpg);"></div>
</div>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>