<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - Reset Password')}">
    <title>Reset Password</title>
</head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main style="margin: 16px 0 60px 0">
    <div class="mx-auto px-3" style="max-width: 700px;">
        <h1 class="pt-3 pb-2 pb-lg-3">Reset your password</h1>
        <p class="pb-2">Please enter your new password below.</p>
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${message}" class="alert alert-success" role="alert">
            <p th:text="${message}"></p>
        </div>
        <div class="card border-0 bg-primary" data-bs-theme="dark">
            <form class="card-body" th:action="@{/reset-password}" th:object="${resetPasswordDto}" method="post" onsubmit="disableSubmitButtonWhileSubmitting(this)">
                <input type="hidden" th:field="*{token}" />

                <div class="mb-4">
                    <div class="position-relative">
                        <i class="ai-lock-closed fs-lg position-absolute top-50 start-0 translate-middle-y text-light opacity-80 ms-3"></i>
                        <input class="form-control form-control-lg ps-5" type="password" th:field="*{password}" placeholder="New Password" id="password" required />
                    </div>
                </div>

                <div class="mb-4">
                    <div class="position-relative">
                        <i class="ai-lock-closed fs-lg position-absolute top-50 start-0 translate-middle-y text-light opacity-80 ms-3"></i>
                        <input class="form-control form-control-lg ps-5" type="password" th:field="*{confirmPassword}" placeholder="Confirm New Password" id="confirmPassword" required />
                    </div>
                </div>

                <button class="btn btn-light" type="submit">Reset Password</button>
            </form>
        </div>
    </div>
</main>

<script th:src="@{/js/theme.min.js}"></script>
<footer th:replace="~{partials/newFooter}"></footer>
</body>
</html>
