<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - Edit Event')}"></head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main class="bg-secondary">
    <div class="container mt-4">
        <h1 class="display-4">Edit Event</h1>
        <form th:action="@{/edit/event/{id}(id=${event.id})}" th:object="${event}" method="post">
            <input type="hidden" name="id" th:value="${event.id}"/>

            <div class="form-group">
                <label for="name">Event Name</label>
                <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter event name">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger"></div>
            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" th:field="*{description}" rows="3"
                          placeholder="Enter event description"></textarea>
                <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"
                     class="alert alert-danger"></div>
            </div>

            <div class="form-group">
                <label for="locationName">Location Name</label>
                <input type="text" class="form-control" id="locationName" th:field="*{locationName}"
                       placeholder="Enter location name">
                <div th:if="${#fields.hasErrors('locationName')}" th:errors="*{locationName}"
                     class="alert alert-danger"></div>
            </div>

            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" th:field="*{address}" placeholder="Enter address">
                <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert alert-danger"></div>
            </div>

            <!--            <div class="form-group">-->
            <!--                <label for="status">Status</label>-->
            <!--                <select class="form-control" id="status" th:field="*{status}">-->
            <!--                    <option value="active" th:selected="${event.status == 'active'}">Active</option>-->
            <!--                    <option value="inactive" th:selected="${event.status == 'inactive'}">Inactive</option>-->
            <!--                    <option value="cancelled" th:selected="${event.status == 'cancelled'}">Cancelled</option>-->
            <!--                </select>-->
            <!--                <div th:if="${#fields.hasErrors('status')}" th:errors="*{status}" class="alert alert-danger"></div>-->
            <!--            </div>-->

            <h4>Event Dates and Times</h4>

            <div class="mt-4">
                <button class="btn btn-primary" type="submit">Save Changes</button>
                <a href="#" th:href="@{/events/{id}(id=${event.id})}" class="btn btn-secondary">Cancel</a>
            </div>


            <section class="my-4">
                <h3>Delete Event</h3>
                <p>The action is not reversible.</p>
                <form method="post" th:action="@{/delete/event}">
                    <input type="hidden" name="eventId" th:value="${event.id}"/>
                    <button type="submit" class="btn btn-danger">Delete Event</button>
                </form>
            </section>
        </form>
    </div>
</main>

<footer th:replace="~{partials/footer}"></footer>

<script th:src="@{/js/flatpickr.min.js}"></script>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>
