<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - Events')}"><title>Placeholder Title</title></head>
<body>
<header th:insert="~{partials/navbar}"></header>
<main class="bg-secondary pt-4 pb-5">

    <div class="container">

        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="display-3 mb-0">Events</h1>
            <div>
                <a href="/my/events" class="btn btn-link fw-semibold fs-lg text-primary">My Events</a>
                <a href="/create/event" class="btn btn-primary">Create Event</a>
            </div>
        </div>

        <div th:if="${popularTags.size() > 0}" class="mb-4">
            <div class="d-flex flex-wrap">
                <a th:each="tag : ${popularTags}"
                   th:href="'/events?tag=' + ${tag.name}"
                   th:classappend="${selectedTag == tag.name} ? 'badge bg-primary bg-opacity-10 text-primary fs-sm m-1' : 'badge bg-secondary fs-sm m-1'"
                   th:text="${tag.name}">
                </a>
            </div>
            <div th:if="${selectedTag}">
                <a class="text-dark opacity-50 btn btn-link p-0" href="/events">Clear Filter</a>
            </div>
        </div>

        <div class="row">

            <div th:if="${#lists.isEmpty(events)}" class="my-4">
                <div>
                    There are no events available at the moment.
                </div>
            </div>

            <div th:each="event : ${events}" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="fw-semibold text-danger mt-0 mb-1" th:if="${event.status == 'cancelled'}">Cancelled</p>
                        <h4 class="h3 mb-1" th:text="${event.name}">Event Title</h4>

                        <div th:if="${event.nextAvailableDayEvent != null}">
                            <p class="text-muted fw-semibold mb-2"
                               th:text="${#temporals.format(event.nextAvailableDayEvent.startTime, 'MMMM dd, yyyy h:mm a')}">
                                Next Available Time
                            </p>
                            <p th:if="${event.moreDayEventsCount > 0}" class="text-muted">
                                and <span th:text="${event.moreDayEventsCount}">0</span> more day(s) available
                            </p>
                        </div>

                        <p th:if="${event.nextAvailableDayEvent == null}" class="text-muted">No upcoming times available</p>

                        <p th:text="${#strings.length(event.description) > 120 ? #strings.substring(event.description, 0, 120) + '...' : event.description}">
                            Event Description
                        </p>
                        <a th:href="'/events/' + ${event.slug}" class="btn btn-lg btn-link p-0">View Event<i class="ai-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</main>
<footer th:replace="~{partials/footer}"></footer>
</body>
</html>