<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/layout :: sharedHead}"></th:block>
    <title>[[${event.detail.title}]] - Event in Fremont, MI</title>
    <meta name="description" th:content="${#strings.length(event.detail.description) > 160 ? #strings.substring(event.detail.description, 0, 157) + '...' : event.detail.description}" />
    <th:block th:if="${event.tags != null and #lists.size(event.tags) > 0}">
        <meta name="keywords" th:content="${#strings.arrayJoin(event.tags, ', ')}" />
    </th:block>
</head>

<body>
<header th:insert="~{partials/navbar}"></header>

<th:block th:insert="~{events/partials/event-partial :: eventPartial}"></th:block>

<footer th:replace="~{partials/newFooter}"></footer>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>