<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - Event')}"></head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main class="bg-secondary">
    <div class="container mt-4">
        <section th:if="${true}" class="alert alert-secondary" role="alert">
            <h4 class="mb-1">You're an administrator of this event.</h4>
            <p class="mb-1">Additional options to update the event are available.</p>
            <p class="mb-1">Please <a href="/contact-us" class="alert-link">contact us</a> if you'd like to add an administrator or change who will be administering this event.</p>
        </section>

        <section>
            <h1 class="display-4" th:text="${event.name}">Event Name</h1>
            <p th:text="${event.description}">Event description here...</p>


            <p th:if="${event.locationName}">
                <strong>Location:</strong> <span th:text="${event.locationName}">Location Name</span>
            </p>

            <p th:if="${event.address}">
                <strong>Address:</strong> <span th:text="${event.address}">Event Address</span>
            </p>

            <h4>Event Dates and Times:</h4>
            <div th:each="dayEvent, iterStat : ${event.days}">
                <p>
                    <span th:text="${event.formattedTimes[iterStat.index * 2]}"></span>
                    <span th:text="' - '"></span>
                    <span th:text="${event.formattedTimes[iterStat.index * 2 + 1]}"></span>
                </p>
            </div>

            <div th:if="${isEventAdmin}">
                <a th:href="'/edit/event/' + ${event.id}" class="btn btn-primary">Edit Event</a>
            </div>


        </section>
    </div>
</main>

<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>