<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - My Events')}"></head>
<body>
<header th:insert="~{partials/navbar}"></header>
<main class="bg-secondary">

    <div class="container">

        <div class="d-flex justify-content-between align-items-center my-4">
            <div>
                <h1 class="display-4">My Events</h1>
            </div>
            <div>
                <a href="/events" class="btn btn-outline-primary">View All Events</a>
                <a href="/create/event" class="btn btn-primary">Create Event</a>
            </div>
        </div>

        <div class="row">
            <th:block th:each="details : ${events}">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 th:text="${details.event.name}">Group Name</h3>
                            <p th:text="${details.event.description}">Group Description</p>
                            <a th:href="@{/events/{id}(id=${details.event.id})}" class="btn btn-sm btn-primary me-2 mb-2">View</a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <p th:if="${#lists.isEmpty(events)}">You are currently not administering any events.</p>

    </div>

</main>
<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>






