<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - My Dashboard')}"><title>Placeholder Title</title></head>
<body class="bg-secondary">
<header th:insert="~{partials/navbar}"></header>

<div class="container mt-4">
    <div class="row flex-column flex-md-row">
        <aside th:replace="~{partials/dashboard-nav :: nav}"></aside>
        <aside class="col-md-10 px-md-4">
            <form th:action="@{/my/groups/admin}" th:object="${group}" method="post">
                <input type="hidden" name="Id" th:value="${group.id}" />
                <section class="card border-0 my-4">
                    <div class="card-body">
                        <h3>Basic Information</h3>
                        <div class="mb-2">
                            <label class="form-label" for="name">Name</label>
                            <input class="form-control" id="name" type="text" th:field="*{name}">
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" id="description" th:field="*{description}"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Update Core Information</button>
                    </div>
                </section>
            </form>
            <section class="card border-0 my-4">
                <div class="card-body">
                    <h3 class="d-inline-block">Announcements</h3><button class="d-inline-block" th:attr="hx-get='/announcements/group/form/' + ${group.id}"
                                                  hx-target="#announcementList"
                                                  hx-swap="innerHTML">
                    Edit
                </button>
                    <ul id="announcementList">
                        <li th:each="announcement : ${group.announcements}">
                            <strong th:text="${announcement.title}">Announcement Title</strong>
                            <p th:text="${announcement.content}">Announcement Content</p>
                        </li>
                    </ul>

                </div>
            </section>
            <section class="card border-0 my-4">
                <div class="card-body">
                    <h3>Delete Group</h3>
                    <p>The action is not reversible. All administrators and members will be emailed when the group is deleted.</p>
                    <form method="post" th:action="@{/my/groups/admin/delete}">
                        <input type="hidden" name="groupId" th:value="${group.id}" />
                        <button type="submit" class="btn btn-danger">Delete Group</button>
                    </form>
                </div>
            </section>
        </aside>
    </div>
</div>

<script th:replace="~{partials/theme-js}"></script>
</body>
</html>