<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://js.stripe.com/v3/"></script>
</head>
<body>
<main>
    <h1>Sample Photo Service</h1>
    <img src="https://picsum.photos/280/320?random=1" width="140" height="160" alt="stock image" />

    <p>
        Unlimited photo hosting, and more. Cancel anytime.
    </p>

    <form id="signup-form">
        <label>
            Email
            <input id="email" type="text" placeholder="Email address" value="test@example.com" required />
        </label>

        <button type="submit">
            Register
        </button>
    </form>
</main>

<script>
    document.addEventListener('DOMContentLoaded', async () => {
        const signupForm = document.querySelector('#signup-form');
        if (signupForm) {
            signupForm.addEventListener('submit', async (e) => {
                e.preventDefault();

                // Grab reference to the emailInput. The email address
                // entered will be passed to the server and used to create
                // a customer. Email addresses do NOT uniquely identify
                // customers in Stripe.
                const emailInput = document.querySelector('#email');

                // Create a customer. This will also set a cookie on the server
                // to simulate having a logged in user.
                const {customer} = await fetch('/api/stripe/create-customer', {
                    method: 'post',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        email: emailInput.value,
                    }),
                }).then(r => r.json());

                // Redirect to the pricing page.
                // window.location.href = '/stripe/prices';
            });
        } else {
            alert("No sign up form with ID `signup-form` found on the page.");
        }
    });
</script>

</body>
</html>