<section class="my-5" th:fragment="article-card">
    <div class="card text-center">
        <div class="card-header" style="padding: 6px 0">Local Ad</div>
        <div class="card-body" style="padding: 16px 0">
            <h4 class="card-title mb-2">Get Started With NeighborServices™</h4>
            <p class="card-text mb-2">Individuals offering services in the community.</p>
            <a href="/overview/neighbor-services" class="btn btn-lg btn-link p-0" data-analytics-event="Local Ad - NeighborServices™ - Learn more">Learn more<i class="ai-arrow-right ms-1"></i></a>
        </div>
    </div>
</section>