<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/layout :: sharedHead}"></th:block>
    <title>[[${neighborServicesProfile.name}]] - NeighborServices™ Profile in Fremont, MI</title>
    <meta name="description" th:content="${#strings.length(neighborServicesProfile.description) > 160 ? #strings.substring(neighborServicesProfile.description, 0, 157) + '...' : neighborServicesProfile.description}" />
    <th:block th:if="${neighborServicesProfile.tags != null and #lists.size(neighborServicesProfile.tags) > 0}">
        <meta name="keywords" th:content="${#strings.arrayJoin(neighborServicesProfile.tags, ', ')}" />
    </th:block>
</head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <div th:if="${neighborServicesProfile.status == 'requires_active_subscription'}" class="alert d-flex alert-light" role="alert">
                    <i class="ai-circle-info fs-xl pe-1 me-2"></i>
                    <p class="mb-0"><strong>Subscription Required:</strong> Profile will be visible to the community after you
                        <a th:href="'/pay/subscription?contentId=' + ${neighborServicesProfile.id} + '&contentType=' + ${neighborServicesProfile.type}">select and pay for a subscription</a>.</p>
                </div>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-2">
                        <li class="breadcrumb-item"><a href="/neighbor-services">NeighborServices™</a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="${neighborServicesProfile.name}"></li>
                    </ol>
                </nav>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="javascript:history.back()" class="btn btn-lg btn-link p-0"><i class="ai-arrow-left me-2"></i>Back</a>
                    <a th:if="${myProfile}" th:href="'/edit/neighbor-service/profile/' + ${neighborServicesProfile.slug}" class="btn btn-secondary btn-icon" aria-label="Edit" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <i class="ai-edit-alt"></i>
                    </a>

                </div>


                <div class="d-flex justify-content-center">
                    <div th:if="${myProfile}" class="dropdown">
                        <a th:if="${neighborServicesProfile.profileImageUrl != null}" class="d-flex flex-column justify-content-end position-relative overflow-hidden rounded-circle bg-size-cover bg-position-center flex-shrink-0" href="#" data-bs-toggle="dropdown" aria-expanded="false" th:style="'width: 200px; height: 200px; background-image: url(' + ${neighborServicesProfile.profileImageUrl} + ');'" aria-label="Upload picture">
                            <span class="d-block text-light text-center lh-1 pb-1" style="background-color: rgba(0,0,0,.5)">
                                <i class="ai-camera"></i>
                            </span>
                        </a>
                        <a th:if="${neighborServicesProfile.profileImageUrl == null}" class="d-flex flex-column justify-content-end position-relative overflow-hidden rounded-circle bg-size-cover bg-position-center flex-shrink-0" href="#" data-bs-toggle="dropdown" aria-expanded="false" style="width: 160px; height: 160px; background-color: var(--ar-gray-100);" aria-label="Upload picture">
                          <span class="d-block text-light text-center lh-1 pb-1" style="background-color: rgba(0,0,0,.5)">
                            <i class="ai-camera"></i>
                          </span>
                        </a>

                        <div class="dropdown-menu my-1" style="">
                            <a class="dropdown-item fw-normal" href="#" data-bs-toggle="modal" data-bs-target="#uploadPhotoModal">
                                <i class="ai-camera fs-base opacity-70 me-2"></i>
                                Upload new photo
                            </a>
<!--                            <a class="dropdown-item text-danger fw-normal" href="#">-->
<!--                                <i class="ai-trash fs-base me-2"></i>-->
<!--                                Delete photo-->
<!--                            </a>-->
                        </div>
                    </div>

                    <div th:if="${!myProfile}">
                        <div th:if="${neighborServicesProfile.profileImageUrl}" class="d-flex flex-column justify-content-end position-relative overflow-hidden rounded-circle bg-size-cover bg-position-center flex-shrink-0"
                           th:style="'width: 200px; height: 200px; background-image: url(' + ${neighborServicesProfile.profileImageUrl} + ');'"
                        >
                        </div>
                    </div>

                </div>

                <h1 th:text="${neighborServicesProfile.name}" class="display-4 mb-3 text-center">Fremont NeighborService Name</h1>
                <p th:utext="${neighborServicesProfile.description}" class="fs-xl mb-3">Description about the service...</p>

                <div th:if="${!#lists.isEmpty(neighborServicesProfile.tags)}">
                    <div class="d-flex flex-wrap">
                                    <span th:each="tag : ${neighborServicesProfile.tags}"
                                          class="badge bg-secondary m-1"
                                          th:text="${tag}">
                                    </span>
                    </div>
                </div>

                <div class="mt-4 mb-5">
                    <div th:if="${neighborServicesProfile.neighborServices.size() > 0}">
                        <ul class="list-unstyled">
                            <li th:each="service : ${neighborServicesProfile.neighborServices}">
                                <div class="d-flex align-items-center">
                                    <h3 class="h3 w-75 pe-2 mb-2" th:text="${service.name}"></h3>
                                    <p class="h5 w-25 ps-2 text-center mb-2" th:text="${service.price}"></p>
                                </div>
                                <p class="fs-xl" th:text="${service.description}"></p>
                            </li>
                        </ul>
                    </div>
                    <div th:if="${neighborServicesProfile.neighborServices.size() == 0}">
                        <p class="text-muted mb-3">No services available at this time.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <section class="bg-secondary">
        <div class="container pt-5">
            <div class="row pb-4">
                <div class="col-lg-8 col-xl-7 offset-xl-1 mx-auto">
                    <h1 class="display-6 text-center" th:text="'Contact ' + ${neighborServicesProfile.name}">Contact Us</h1>
                    <p class="fs-lg pb-4 mb-0 mb-sm-2 text-center">If you have any questions, inquiries, or would like more information from
                        <span th:text="${neighborServicesProfile.name}">our service</span>, please fill out the form below.</p>

                    <form class="row g-4 needs-validation" novalidate="" id="contactForm">
                        <input type="hidden" id="id" name="id" th:value="${neighborServicesProfile.id}" />
                        <div class="col-sm-6">
                            <label class="form-label fs-base" for="name">Name</label>
                            <input class="form-control form-control-lg" type="text" placeholder="Your name" required="" id="name">
                            <div class="invalid-feedback">Please enter your name.</div>
                        </div>
                        <div class="col-sm-6">
                            <label class="form-label fs-base" for="email">Email</label>
                            <input class="form-control form-control-lg" type="email" placeholder="Email address" required="" id="email">
                            <div class="invalid-feedback">Please provide a valid email address.</div>
                        </div>
                        <div class="col-sm-12">
                            <label class="form-label fs-base" for="message">Message</label>
                            <textarea class="form-control form-control-lg" rows="5" placeholder="Enter your message here..." required="" id="message"></textarea>
                            <div class="invalid-feedback">Please enter a message.</div>
                        </div>
                        <div class="col-sm-12 pt-2">
                            <button id="submit-button" class="btn btn-lg btn-primary" type="button" onclick="submitContactForm()">Send message</button>
                            <button id="loading-button" class="btn btn-lg btn-primary pe-none" type="button" style="display: none;">
                                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                Loading...
                            </button>
                        </div>
                    </form>

                    <div id="form-message" class="alert mt-4" style="display: none;"></div>

                </div>
            </div>
        </div>
    </section>

    <!-- Full screen modal -->
    <div class="modal fade" id="uploadPhotoModal" tabindex="-1" aria-labelledby="uploadPhotoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadPhotoModalLabel">Upload New Photo</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 mx-auto">

                                <!-- Image preview -->
                                <div id="imagePreviewContainer" class="d-flex justify-content-center mb-3">
                                    <div id="imagePreview" class="rounded-circle d-none" style="width: 200px; height: 200px; background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
                                </div>

                                <form id="uploadForm" th:action="@{/upload}" method="post" enctype="multipart/form-data" onsubmit="disableSubmitButtonWhileSubmitting(this)">
                                    <input type="hidden" name="contentType" th:value="${neighborServicesProfile.type}">
                                    <input type="hidden" name="contentId" th:value="${neighborServicesProfile.id}">
                                    <div class="mb-3">
                                        <label for="formFile" class="form-label">Select Photo</label>
                                        <input class="form-control" type="file" id="formFile" name="files" required multiple>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Upload</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script>
    const formFileInput = document.getElementById('formFile');
    const imagePreview = document.getElementById('imagePreview');

    formFileInput.addEventListener('change', function(event) {
        const file = event.target.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                imagePreview.style.backgroundImage = `url('${e.target.result}')`;
            };
            reader.readAsDataURL(file);
            imagePreview.classList.remove('d-none');
        } else {
            imagePreview.src = '';
        }
    });
</script>

<script>
    async function submitContactForm() {
        const form = document.getElementById('contactForm');
        const submitButton = document.getElementById('submit-button');
        const loadingButton = document.getElementById('loading-button');
        const formMessage = document.getElementById('form-message');
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="csrf-header"]').getAttribute('content');

        if (!form.checkValidity()) {
            form.classList.add('was-validated');
            return;
        }

        const formData = {
            id: document.getElementById('id').value,
            name: document.getElementById('name').value,
            email: document.getElementById('email').value,
            message: document.getElementById('message').value
        };

        submitButton.style.display = 'none';
        loadingButton.style.display = 'block';

        try {
            const response = await fetch('/contact/neighbor-services-profile', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(formData)
            });

            if (response.ok) {
                formMessage.style.display = 'block';
                formMessage.classList.remove('alert-danger');
                formMessage.classList.add('alert-primary');
                formMessage.innerText = 'Your message has been successfully sent. You\'ll now communicate directly via email. We appreciate your engagement with NeighborServices™ and hope you find the assistance you need.';

                form.reset();
                form.classList.remove('was-validated');
            } else {
                throw new Error('Submission failed');
            }
        } catch (error) {
            formMessage.style.display = 'block';
            formMessage.classList.remove('alert-success');
            formMessage.classList.add('alert-danger');
            formMessage.innerText = 'Failed to submit the form. Please try again later.';
        } finally {
            loadingButton.style.display = 'none';
            submitButton.style.display = 'block';
        }
    }
</script>

<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const urlParams = new URLSearchParams(window.location.search);
        const success = urlParams.get('subscribed');

        if (success === 'true') {
            // Show the success message
            // document.getElementById('success-message').style.display = 'block';

            // Trigger confetti effect
            confetti({
                particleCount: 100,
                spread: 70,
                origin: { y: 0.6 }
            });

            // Optionally, add a more extended confetti burst
            const duration = 5 * 1000; // 5 seconds
            const animationEnd = Date.now() + duration;
            const defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

            function randomInRange(min, max) {
                return Math.random() * (max - min) + min;
            }

            const interval = setInterval(function() {
                const timeLeft = animationEnd - Date.now();

                if (timeLeft <= 0) {
                    return clearInterval(interval);
                }

                const particleCount = 50 * (timeLeft / duration);
                // since particles fall down, start a bit higher than random
                confetti(Object.assign({}, defaults, {
                    particleCount,
                    origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 }
                }));
                confetti(Object.assign({}, defaults, {
                    particleCount,
                    origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 }
                }));
            }, 250);
        }
    });
</script>
</body>
</html>
