<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - NeighborService')}"></head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <h1>Fremont NeighborService Name</h1>

                <section>

                </section>

                <a class="d-inline-block d-sm-none btn btn-outline-primary">Edit NeighborService</a>

            </div>
        </div>
    </div>
</main>

<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>