<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - NeighborService')}"></head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main>
    <div class="container my-4">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <nav aria-label="breadcrumb">
                    <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
                        <li class="breadcrumb-item"><a href="/neighbor-services">NeighborServices</a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="${neighborServicesProfile.name}"></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div>
                    <span th:if="${neighborServicesProfile.status != 'active'}" class="badge bg-danger bg-opacity-10 text-danger fs-sm">Not Active - Requires Subscription</span>
                </div>
                <h1 th:text="${neighborServicesProfile.name}" class="display-3 mb-0">Fremont Business Name</h1>

                <div class="row mt-4">
                    <p th:text="${neighborServicesProfile.description}" class="fs-xl">Morbi et massa fames ac scelerisque sit commodo dignissim <strong>faucibus quisque proin</strong> lectus laoreet sem adipiscing sollicitudin erat massa tellus lorem enim aenean phasellus in hendrerit interdum lorem proin pretium dictum urna suspendisse quis risus et.</p>
                </div>


                <div class="row mt-4">

                    <h3 class="mb-3 fs-1">NeighborServices™</h3>

                    <div th:if="${neighborServicesProfile.neighborServices.size() > 0}">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item" th:each="service : ${neighborServicesProfile.neighborServices}">
                                <h4 th:text="${service.name}"></h4>
                                <p th:text="${service.description}"></p>
                            </li>
                        </ul>
                    </div>

                    <div th:if="${neighborServicesProfile.neighborServices.size() == 0}">
                        <p class="text-muted">No services available at this time.</p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</main>

<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>