<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - NeighborServices™')}"><title>Placeholder Title</title></head>
<body>
<header th:insert="~{partials/navbar}"></header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h1>Subscription Payment</h1>
                <p class="mb-2">You are paying for the <strong th:text="${subscriptionDisplayName}"></strong> plan at <strong th:text="${subscriptionDisplayName}">.</strong></p>
                <p><a href="/" class="btn btn-link fw-semibold fs-sm p-0 mb-4">Change Subscription</a></p>

                <form id="payment-form" class="my-4">
                    <div id="payment-element"></div>
                    <div id="error-message" class="alert alert-danger mt-3" role="alert" style="display:none;"></div>
                    <button id="submit-button" class="btn btn-primary mt-4" type="submit">Submit Payment</button>
                </form>
            </div>
        </div>

    </div>
</main>

<script th:inline="javascript">
    const clientSecret = /*[[${clientSecret}]]*/ 'undefined';
    const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
    const csrfHeader = document.querySelector('meta[name="csrf-header"]').getAttribute('content');
    const stripe = Stripe("pk_test_51KCrhcBCHBXtJFxOMYJo8xRymfT9m3PvrruBp7gZmcvCV2vpYnMH8EdkwVeibCrtj5bwNhhuAj5MzWU1NXtq6iBs000IzgImdE");

    const elements = stripe.elements({ clientSecret });
    const paymentElement = elements.create("payment");
    paymentElement.mount("#payment-element");

    const form = document.getElementById("payment-form");
    const submitButton = document.getElementById("submit-button");

    form.addEventListener("submit", async (event) => {
        event.preventDefault();
        submitButton.disabled = true;

        const {error: submitError} = await elements.submit();

        if (submitError) {
            document.getElementById("error-message").innerText = submitError.message;
            document.getElementById("error-message").style.display = 'block';
            submitButton.disabled = false;
            return;  // Stop the form submission if there's an error
        }

        const {error, paymentIntent} = await stripe.confirmPayment({
            clientSecret: clientSecret,
            elements,
            confirmParams: {
                // return_url: "https://fremontmi.com/error?stripe-redirect=true",
                return_url: "http://localhost:8080/payment-success",
            },
            redirect: "if_required"
        });

        if (error) {
            document.getElementById("error-message").innerText = error.message;
            document.getElementById("error-message").style.display = 'block';
            submitButton.disabled = false;
        } else {
            // Payment was successful
            sendPaymentStatusToServer(paymentIntent);
        }
    });

    async function sendPaymentStatusToServer(paymentIntent) {
        try {
            let response = await fetch("/create/neighbor-service/subscription/success", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify({
                    id: businessId,
                    paymentIntentId: paymentIntent.id,
                    paymentStatus: paymentIntent.status,
                }),
            });

            if (response.ok) {
                const { redirectUrl } = await response.json();

                window.location.href = redirectUrl;
            } else {
                // Handle the error from the backend
                document.getElementById("error-message").innerText = "Payment was successful, but there was an error updating your subscription. Please contact support.";
                document.getElementById("error-message").style.display = 'block';
            }
        } catch (error) {
            document.getElementById("error-message").innerText = "There was an issue processing your payment. Please try again.";
            document.getElementById("error-message").style.display = 'block';
        } finally {
            submitButton.disabled = false;
        }
    }
</script>

<footer th:replace="~{partials/footer}"></footer>
</body>
</html>