<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('NeighborServices™ in Fremont, MI - Services offered by individuals for the community')}">
    <title>NeighborServices™</title>
</head>
<body>
<header th:insert="~{partials/navbar}"></header>
<main class="bg-secondary pt-4 pb-5">
    <div class="container">
        <div class="d-none d-md-flex justify-content-between align-items-center mb-4">
            <h1 class="display-3 mb-0">NeighborServices™</h1>
            <div>
                <a href="/my/neighbor-services-profile" class="btn btn-link fw-semibold fs-lg text-primary">My Profile</a>
                <a href="/create/neighbor-services-profile" class="btn btn-primary">Create</a>
            </div>
        </div>
        <div class="d-md-none mb-4">
            <div class="d-flex justify-content-end">
                <a href="/create/neighbor-services-profile" class="btn btn-primary fw-semibold py-2 px-3">Create</a>
            </div>
            <h1 class="display-3 mb-0">NeighborServices™</h1>
            <a href="/my/neighbor-services-profile" class="btn btn-link fw-semibold p-0">My Profile</a>
        </div>

        <div th:if="${popularTags.size() > 0}" class="mb-4">
            <div class="d-flex flex-wrap">
                <a th:each="tag : ${popularTags}"
                   th:href="'/neighbor-services?tag=' + ${tag.name}"
                   th:classappend="${selectedTag == tag.name} ? 'badge bg-primary bg-opacity-10 text-primary fs-sm m-1' : 'badge bg-secondary fs-sm m-1'"
                   th:text="${tag.name}">
                </a>
            </div>
            <div th:if="${selectedTag}">
                <a class="text-dark opacity-50 btn btn-link p-0" href="/neighbor-services">Clear Filter</a>
            </div>
        </div>

        <div th:if="${popularTags.size() > 0}" class="mb-4">
            <div class="d-flex flex-wrap">
                <a th:each="tag : ${popularTags}"
                   th:href="'/neighbor-services?tag=' + ${tag.name}"
                   th:classappend="${selectedTag == tag.name} ? 'badge bg-primary bg-opacity-10 text-primary fs-sm m-1' : 'badge bg-secondary fs-sm m-1'"
                   th:text="${tag.name}">
                </a>
            </div>
            <div th:if="${selectedTag}">
                <a class="text-dark opacity-50 btn btn-link p-0" href="/neighbor-services">Clear Filter</a>
            </div>
        </div>

        <div class="row">
            <div class="row">
                <div th:if="${#lists.isEmpty(profilesList)}" class="my-4">
                    <div>We're just getting started! Currently, there are no public NeighborServices™ listings available.</div>
                </div>

                <!-- Profile Cards -->
                <div th:each="neighborServicesProfile : ${profilesList}" class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="h3 mb-1" th:text="${neighborServicesProfile.detail.title}"></h4>

                            <p class="mb-3" th:text="${#strings.length(neighborServicesProfile.detail.description) > 120 ? #strings.substring(neighborServicesProfile.detail.description, 0, 120) + '...' : neighborServicesProfile.detail.description}">
                                Business Description
                            </p>

                            <a th:href="${neighborServicesProfile.pathname}" class="btn btn-lg btn-link p-0">View Profile<i class="ai-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
<script th:src="@{/js/theme.min.js}" th:fragment="themeScriptFragment"></script>
<footer th:replace="~{partials/footer}"></footer>
</body>
</html>
