<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - NeighborServices™')}"><title>Placeholder Title</title></head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main>
    <div class="container">

        <div class="row mt-4">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="display-3">Create NeighborServices™</h1>
                <p class="lead">Share the services you wish to offer to the local community. Once you've created your profile and subscribed, you can list your individual services on the platform. Potential customers will then be able to find you and reach out through a contact form, with all inquiries conveniently sent to your email.</p>            </div>
        </div>

        <div class="row mt-4" style="margin-bottom: 60px;">
            <div class="steps steps-horizontal-md steps-center">

                <div class="step active">
                    <div class="step-number">
                        <div class="step-number-inner">01</div>
                    </div>
                    <div class="step-body">
                        <h5 class="pb-1 mb-2">Overview & Pricing</h5>
                        <p class="mb-0">
                            Select a subscription plan for your NeighborServices™ Profile, either monthly or annually.
                        </p>
                    </div>
                </div>

                <div class="step">
                    <div class="step-number">
                        <div class="step-number-inner">02</div>
                    </div>
                    <div class="step-body">
                        <h5 class="pb-1 mb-2">Create Your NeighborServices™ Profile</h5>
                        <p class="mb-0">
                            Fill in the core details about you with a simple form. After you subscribe, you'll be able to list your NeighborServices™ on the platform via your profile.
                        </p>
                    </div>
                </div>

                <div class="step">
                    <div class="step-number">
                        <div class="step-number-inner">03</div>
                    </div>
                    <div class="step-body">
                        <h5 class="pb-1 mb-2">Complete Your Subscription</h5>
                        <p class="mb-0">
                            Enter your payment details to activate your profile. Once your subscription is active, you'll be ready to list your services and be discovered.
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body w-100 mx-auto text-center" style="max-width: 23rem;">
                        <h3>Monthly</h3>
                        <div class="display-2 text-primary">$5</div>
                        <div class="mb-4">per month</div>
                        <p class="mb-4 pb-4">Perfect for those who want flexibility without a long-term commitment.</p>
                        <form th:action="@{/create/neighbor-service/form}" method="post" id="monthly-subscription-form">
                            <input type="hidden" name="priceId" value="price_1Pv7TzBCHBXtJFxOWmV5PE4h" />
                            <button class="btn btn-primary w-100" type="submit">Proceed with Monthly Subscription</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4 mt-md-0">
                <div class="card border-primary bg-primary">
                    <div class="card-body w-100 mx-auto text-center" style="max-width: 23rem;">
                        <h3 class="text-light">Annual</h3>
                        <div class="display-2 text-light">$50</div>
                        <div class="text-light opacity-70 mb-4">per year</div>
                        <p class="text-light opacity-70 mb-4 pb-4">Save money with the annual plan.</p>
                        <form th:action="@{/create/business/form}" method="post" id="annual-subscription-form">
                            <input type="hidden" name="priceId" value="price_1PELXZBCHBXtJFxO4FchTfAv" />
                            <button class="btn btn-light w-100" type="submit">Proceed with Annual Subscription</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>

<footer th:replace="~{partials/footer}"></footer>
</body>
</html>