<aside class="col-md-2" th:fragment="nav">
    <nav>
        <ul class="nav nav-tabs flex-column" role="tablist">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my/overview}" role="tab">
                    <i class="ai-square-info fs-5 opacity-60 me-2"></i>
                    Overview
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my/groups}" role="tab">
                    <i class="ai-user-group fs-5 opacity-60 me-2"></i>
                    Groups
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my/events}" role="tab">
                    <i class="ai-calendar fs-5 opacity-60 me-2"></i>
                    Events
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/my/settings}" role="tab">
                    <i class="ai-settings me-2"></i>
                    Settings
                </a>
            </li>
        </ul>
    </nav>
</aside>