<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, customUser-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="csrf-token" th:content="${_csrf.token}"/>
    <link rel="icon" th:href="@{/images/home.svg}" type="image/svg">
    <link th:href="@{/css/flatpickr.min.css}" rel="stylesheet">
    <link th:href="@{/css/theme.min.css}" rel="stylesheet">
    <link th:href="@{/css/around-icons.min.css}" rel="stylesheet">
    <script th:src="@{/js/htmx.2.0.2.min.js}"></script>
    <script th:src="@{/js/cleave.min.js}"></script>

    <script>
        function disableSubmitButtonWhileSubmitting(form) {
            const submitButton = form.querySelector('button[type="submit"]');
            submitButton.disabled = true;
            return true; // Ensure the form is submitted
        }
    </script>
    <title th:text="${title}">FremontMI</title>
</head>
