<header th:fragment="headerFragment" class="navbar navbar-expand-lg bg-light"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <div class="container">
        <a href="/" class="navbar-brand" style="font-size: 32px; font-weight: bold;">
            <span>Fremont<span style="color: rgba(var(--ar-primary-rgb), var(--ar-bg-opacity));">MI</span></span>
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse1"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <nav class="collapse navbar-collapse" id="navbarCollapse1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/groups" class="nav-link"><strong>Groups</strong></a>
                </li>
                <li class="nav-item">
                    <a href="/events" class="nav-link"><strong>Events</strong></a>
                </li>
                <li class="nav-item">
                    <a href="/businesses" class="nav-link"><strong>Businesses</strong></a>
                </li>
                <li class="nav-item">
                    <a href="/neighbor-services" class="nav-link"><strong>NeighborServices™</strong></a>
                </li>
            </ul>
            <div sec:authorize="!isAuthenticated()">
                <a href="/register" class="btn btn-primary btn-sm fs-sm me-1 ms-3 mb-4 mb-lg-0">
                    Register
                </a>
                <a href="/login" class="btn btn-outline-primary btn-sm fs-sm mb-4 mb-lg-0">
                    Sign in
                </a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a href="/my/settings" class="btn btn-secondary btn-sm fs-sm me-1 ms-3 mb-4 mb-lg-0 px-3 px-1">
                    <i class="ai-user"></i>
                </a>

                <form class="d-inline" th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-link ps-2 btn-sm fs-sm mb-4 mb-lg-0">
                        Sign out
                    </button>
                </form>


            </div>
        </nav>
    </div>
</header>