<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        body { font-family: Arial, sans-serif; }
        p { margin: 0; }
    </style>
</head>
<body>
<p>Dear <span th:text="${name}">Name</span>,</p>
<p>Testing what I need to do to make a long email work.</p>
<p>Testing what I need to do to make a long email work.</p>
<p>Testing what I need to do to make a long email work.</p>
<p>Testing what I need to do to make a long email work.</p>
<p>Testing what I need to do to make a long email work.</p>
</body>
</html>