<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('Create New Group')}">
    <title>Create Group</title>
</head>
<body>
<header th:replace="~{partials/navbar}"></header>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/groups">Groups</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Create Group</li>
                </ol>
            </nav>

            <h1>Create New Group</h1>

            <form th:action="@{/create/group}" th:object="${group}" method="post" onsubmit="disableSubmitButtonWhileSubmitting(this)">

                <div class="mb-3 mb-sm-0">
                    <p class="form-label opacity-75 fw-medium fs-base mb-1">Average Travel Distance</p>
                    <p class="fs-sm mb-2">Only create groups that meet within a 15-mile radius from the center of Fremont, MI (Main St & Division Ave).</p>
                    <div class="row">
                        <div class="col-sm-6">
                            <input type="radio" class="btn-check" id="option1" name="nearby" value="false" checked>
                            <label for="option1" class="w-100 btn btn-outline-secondary px-2">
                                <span class="mx-1">Within 5 Miles</span>
                            </label>
                            <p></p>
                        </div>
                        <div class="col-sm-6">
                            <input type="radio" class="btn-check" id="option2" name="nearby" value="true">
                            <label for="option2" class="w-100 btn btn-outline-secondary px-2">
                                <span class="mx-1">Within 15 Miles</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <label for="name" class="mb-1 form-label opacity-75 fw-medium fs-base">Group Title</label>
                    <input type="text" class="form-control" id="name" th:field="*{title}" placeholder="Enter group title" required>
                    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="mt-1 text-danger"></p>
                </div>

                <div class="form-group mb-3">
                    <label for="description" class="mb-1 form-label opacity-75 fw-medium fs-base">Description</label>
                    <textarea class="form-control" id="description" th:field="*{description}" rows="3" placeholder="Group description" required></textarea>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="mt-1 text-danger"></p>
                </div>

                <div th:replace="~{partials/tag-input}"></div>

                <button type="submit" class="btn btn-primary mt-2">Create Group</button>

            </form>
        </div>
    </div>
</div>

<script th:replace="~{partials/theme-js}"></script>
<footer th:replace="~{partials/newFooter}"></footer>

</body>
</html>
