<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('Create New Group')}">
    <title>Create Group</title>
</head>
<body>
<header th:replace="~{partials/navbar}"></header>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="display-4">Edit Group</h1>
            <form th:action="@{/edit/group}" th:object="${group}" method="post" onsubmit="disableSubmitButtonWhileSubmitting(this)">
                <input type="hidden" name="id" th:value="${group.id}" />
                <div class="form-group mb-2">
                    <label for="name" class="mb-1 form-label opacity-75 fw-medium fs-base">Group Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}" placeholder="Enter group name">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="mt-1 text-danger"></p>
                </div>
                <div class="form-group mb-3">
                    <label for="description" class="mb-1 form-label opacity-75 fw-medium fs-base">Description</label>
                    <textarea class="form-control" id="description" th:field="*{description}" rows="3" placeholder="Group description"></textarea>
                    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="mt-1 text-danger"></p>
                </div>
                <div class="d-flex">
                    <button type="submit" class="btn btn-primary me-2">Save Changes</button>
                    <a class="btn btn-secondary" th:href="'/groups/' + ${group.id}">Cancel</a>
                </div>
            </form>

            <section class="my-5">
                <h3>Delete Group</h3>
                <p>The action is not reversible.</p>
                <form method="post" th:action="@{/delete/group}" onsubmit="disableSubmitButtonWhileSubmitting(this)">
                    <input type="hidden" name="groupId" th:value="${group.id}" />
                    <button type="submit" class="btn btn-danger">Delete Group</button>
                </form>
            </section>
        </div>
    </div>
</div>

<script th:replace="~{partials/theme-js}"></script>
<footer th:replace="~{partials/footer}"></footer>
</body>
</html>