<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Groups in Fremont, MI</title>
    <!-- TODO add metadata-->

    <th:block th:insert="~{partials/layout :: sharedHead}"></th:block>
</head>
<body>
<header th:insert="~{partials/navbar}"></header>
<main class="bg-secondary pt-4 pb-5" x-data="loadMore()">

    <div class="container">
        <div class="d-none d-sm-flex justify-content-between align-items-center mb-4">
            <h1 class="display-3 mb-0">Groups</h1>
            <div>
                <a href="/my/groups" class="btn btn-link fw-semibold fs-lg text-primary">My Groups</a>
                <a href="/create/group" class="btn btn-primary">Create</a>
            </div>
        </div>
        <div class="d-sm-none mb-4">
            <div class="d-flex justify-content-end">
                <a href="/create/group" class="btn btn-primary fw-semibold py-2 px-3">Create</a>
            </div>
            <h1 class="display-3 mb-0">Groups</h1>
            <a href="/my/groups" class="btn btn-link fw-semibold p-0">My Groups</a>
        </div>

        <div class="row" x-ref="groupContainer">
            <div th:if="${#lists.isEmpty(groups)}" class="my-4">
                <div>
                    There are no groups available at the moment.
                </div>
            </div>
            <th:block th:insert="~{groups/partials/list-groups :: listGroups}"></th:block>
        </div>

        <div th:if="${groups.hasNext()}" class="text-center mt-4">
            <button class="btn btn-primary" id="load-more-btn" @click="loadMore()">Load More</button>
        </div>

    </div>
</main>

<footer th:replace="~{partials/footer}"></footer>
<script>
    function loadMore() {
        return {
            currentPage: 0,
            async loadMore() {
                const response = await fetch(`/groups/page/${this.currentPage}`);
                if (response.ok) {
                    const newContent = await response.text();
                    this.$refs.groupContainer.insertAdjacentHTML('beforeend', newContent);
                    this.currentPage += 1;

                    if (!newContent.includes('hasNext')) {
                        document.getElementById('load-more-btn').style.display = 'none';
                    }
                } else {
                    console.error('Failed to load more groups');
                }
            }
        };
    }
</script>

<script th:replace="~{partials/theme-js}"></script>
</body>
</html>

