<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{partials/head :: head('FremontMI - Group')}"></head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto">
                <section th:if="${isAdmin}" class="alert alert-secondary" role="alert">
                    <h4 class="mb-1">You're an administrator of this group.</h4>
                    <p class="mb-1">Additional options to update this page are available.</p>
                    <p class="mb-1">Please <a href="/#contact-us" class="alert-link">contact us</a> if you'd like to add
                        an administrator or change who will be administering this group.</p>
                </section>
                <section sec:authorize="!isAuthenticated()">
                    <p><a class="link-primary" href="/register">Register</a> or <a href="/login">Login</a> to join.</p>
                </section>
                <section>
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h1 class="display-4 mb-0" th:text="${group.name}">Group Name</h1>
                        <div class="d-flex">
                            <form sec:authorize="isAuthenticated()" th:if="${!isMember}" th:action="@{/groups/join}" method="post" onsubmit="disableSubmitButtonWhileSubmitting(this)">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                <input type="hidden" name="groupId" th:value="${group.id}"/>
                                <button type="submit" class="d-none d-sm-block btn btn-primary ms-4">Join Group</button>
                            </form>
                            <form sec:authorize="isAuthenticated()" th:if="${isMember && !isAdmin}"
                                  th:action="@{/groups/leave}" method="post" onsubmit="disableSubmitButtonWhileSubmitting(this)">
                                <input type="hidden" name="groupId" th:value="${group.id}"/>
                                <button type="submit" class="d-none d-sm-block btn btn-primary ms-4">Leave Group</button>
                            </form>
                            <a th:if="${isAdmin}" th:href="'/edit/group/' + ${group.id}"
                               class="d-none d-sm-block btn btn-outline-primary ms-4">Edit Group</a>
                        </div>
                    </div>

                    <p class="text-muted fw-semibold my-3">
                        <span th:text="${adminCount}"></span>
                        <span th:text="${adminCount == 1 ? 'Administrator' : 'Administrators'}"></span> -
                        <span th:text="${memberCount}"></span>
                        <span th:text="${memberCount == 1 ? 'Member' : 'Members'}"></span>
                    </p>

                    <p class="fs-lg my-3" th:text="${group.description}">Group description here...</p>
                </section>

                <section class="mb-4">
                    <div class="d-flex align-items-center mb-2">
                        <h2 class="h1 mb-0 me-2">Announcements</h2>
                        <button th:if="${isAdmin}" class="btn btn-outline-primary btn-sm"
                                th:attr="hx-get='/announcements/group/form/' + ${group.id}"
                                hx-target="#add-announcement-form"
                                hx-swap="innerHTML"
                        >
                            Add
                        </button>
                    </div>
                    <div id="add-announcement-form"></div>
                    <ul id="announcementList" class="list-unstyled">
                        <li th:if="${group.announcements.empty}">
                            <p class="my-3">
                                There are no announcements at this time.
                            </p>
                        </li>
                        <li class="my-4" th:each="announcement : ${group.announcements}"
                            th:id="'announcement-' + ${announcement.id}">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <h5 class="mb-1" th:text="${announcement.title}">Announcement Title</h5>
                                    <p class="mb-1" th:text="${announcement.content}">Announcement Content</p>
                                    <small class="text-muted" th:text="${announcement.getTimeAgo()}"></small>
                                </div>
                                <div th:if="${isAdmin}">
                                    <form onsubmit="disableSubmitButtonWhileSubmitting(this)" th:attr="hx-post='/delete/group/announcement', hx-swap='outerHTML', hx-target='#announcement-' + ${announcement.id}">
                                        <input type="hidden" th:name="${_csrf.parameterName}"
                                               th:value="${_csrf.token}"/>
                                        <input type="hidden" name="groupId" th:value="${group.id}"/>
                                        <input type="hidden" name="announcementId" th:value="${announcement.id}"/>
                                        <button type="submit" class="btn btn-danger btn-sm ms-4"><i class="ai-trash"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>

                </section>

                <div class="d-flex">
                    <div>
                        <form sec:authorize="isAuthenticated()" th:if="${!isMember}" th:action="@{/groups/join}" method="post" onsubmit="disableSubmitButtonWhileSubmitting(this)">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <input type="hidden" name="groupId" th:value="${group.id}"/>
                            <button type="submit" class="d-inline-block d-sm-none btn btn-primary me-2">Join Group</button>
                        </form>
                        <form sec:authorize="isAuthenticated()" th:if="${isMember && !isAdmin}" th:action="@{/groups/leave}" method="post" onsubmit="disableSubmitButtonWhileSubmitting(this)">
                            <input type="hidden" name="groupId" th:value="${group.id}"/>
                            <button type="submit" class="d-inline-block d-sm-none btn btn-primary me-2">Leave Group</button>
                        </form>
                        <a th:if="${isAdmin}" th:href="'/edit/group/' + ${group.id}" class="d-inline-block d-sm-none btn btn-outline-primary me-2">Edit Group</a>
                    </div>
                    <a th:href="'/group/email/administrators/' + ${group.getId()}" th:if="${!isAdmin}" type="button" class="btn btn-link p-0">Email Administrators</a>
                    <a th:href="'/group/email/members/' + ${group.getId()}" th:if="${isAdmin}" type="button" class="btn btn-link p-0">Email Members</a>
                </div>

            </div>
        </div>
    </div>
</main>

<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
<form id="logoutForm" th:action="@{/logout}" method="post" style="display: none;">
    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
</form>

<script th:inline="javascript">
    window.onload = function () {
        const timeUntilLogout = (19 * 60 + 59) * 60 * 1000; // 19 hours 59 minutes

        setTimeout(function () {
            document.getElementById('logoutForm').submit();
        }, timeUntilLogout);
    };
</script>
</body>
</html>