<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('Groups in Fremont, MI')}"></head>
<body>
<header th:insert="~{partials/navbar}"></header>
<main class="bg-secondary pt-4 pb-5">

    <div class="container">
        <div class="d-none d-sm-flex justify-content-between align-items-center mb-4">
            <h1 class="display-3 mb-0">Groups</h1>
            <div>
                <a href="/my/groups" class="btn btn-link fw-semibold fs-lg text-primary">My Groups</a>
                <a href="/create/group" class="btn btn-primary">Create</a>
            </div>
        </div>
        <div class="d-sm-none mb-4">
            <div class="d-flex justify-content-end">
                <a href="/create/group" class="btn btn-primary fw-semibold py-2 px-3">Create</a>
            </div>
            <h1 class="display-3 mb-0">Groups</h1>
            <a href="/my/groups" class="btn btn-link fw-semibold p-0">My Groups</a>
        </div>

        <div class="row">
            <div th:if="${#lists.isEmpty(groups)}" class="my-4">
                <div>
                    There are no groups available at the moment.
                </div>
            </div>
            <div th:each="group : ${groups}" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="h3 mb-1" th:text="${group.detail.name}">Card title</h4>
                        <p class="text-muted fw-semibold mb-2">
                            <span th:text="${group.detail.members.size()}"></span>
                            <span th:text="${group.detail.members.size() == 1 ? 'Member' : 'Members'}"></span>
                        </p>
                        <p class="mb-3" th:text="${#strings.length(group.detail.description) > 120 ? #strings.substring(group.detail.description, 0, 120) + '...' : group.detail.description}"></p>

                        <a th:href="${group.detail.pathname}" class="btn btn-lg btn-link p-0">View Group<i class="ai-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>

