<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="~{partials/head :: head('FremontMI - Group')}"></head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main class="bg-secondary">
    <div class="container mt-4">
        <section th:if="${false}" class="alert alert-secondary" role="alert">
            <h4 class="mb-1">You're an administrator of this group.</h4>
            <p class="mb-1">Additional options to update this page are available.</p>
            <p class="mb-1">Please <a href="/contact-us" class="alert-link">contact us</a> if you'd like to add an administrator or change who will be administering this group.</p>
        </section>

        <section>
            <div class="d-flex justify-content-between align-items-center mb-2">
                <h1 class="display-4 mb-0" th:text="${group.name}">Group Name</h1>
                <div class="d-flex">
                    <p class="mb-0" sec:authorize="!isAuthenticated()"><a class="link-primary" href="/register">Register</a> or <a href="/login">Login</a> to join.</p>
                    <form th:if="${false}" th:action="@{/groups/join}" method="post">
                        <input type="hidden" name="groupId" th:value="${group.id}" />
                        <button type="submit" class="btn btn-primary" sec:authorize="isAuthenticated()">Join Group</button>
                    </form>
                    <a th:if="${isAdmin}" th:href="'/edit/group/' + ${group.id}" class="btn btn-outline-primary">Edit Group</a>
                </div>
            </div>

            <p>3 Administrators - 20 Members</p>

            <p th:text="${group.description}">Group description here...</p>




        </section>
        <section class="mb-4">
            <div class="d-flex align-items-center mb-2">
                <h2 class="mb-0 me-2">Announcements</h2>
                <button th:if="${false}" class="btn btn-outline-primary btn-sm" th:attr="hx-get='/announcements/group/form/' + ${group.id}"
                        hx-target="#add-announcement-form"
                        hx-swap="innerHTML"
                >
                    Add
                </button>
            </div>
            <div id="add-announcement-form"></div>
            <ul id="announcementList" class="list-unstyled">
                <li th:each="announcement : ${group.announcements}">
                    <strong th:text="${announcement.title}">Announcement Title</strong>
                    <p th:text="${announcement.content}">Announcement Content</p>
                    <form method="post" th:action="@{/delete/group/announcement}">
                        <input type="hidden" name="groupId" th:value="${group.id}" />
                        <input type="hidden" name="announcementId" th:value="${announcement.id}" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </li>
                <li th:if="${#lists.isEmpty(group.announcements)}">
                    <p>No announcements are available at the moment.</p>
                </li>
            </ul>

        </section>

    </div>
</main>

<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>