<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - Groups')}"></head>
<body>
<header th:insert="~{partials/navbar}"></header>
<main class="bg-secondary pt-4 pb-5">

    <div class="container">

        <div class="d-none d-sm-flex justify-content-between align-items-center my-4">
            <h1 class="display-3 mb-0">My Groups</h1>
            <div>
                <a href="/groups" class="btn btn-link fw-semibold fs-lg text-primary">View All Groups</a>
                <a href="/create/group" class="btn btn-primary">Create</a>
            </div>
        </div>
        <div class="d-sm-none mb-4">
            <div class="d-flex justify-content-end">
                <a href="/create/group" class="btn btn-primary fw-semibold py-2 px-3">Create</a>
            </div>
            <h1 class="display-3 mb-0">Groups</h1>
            <a href="/groups" class="btn btn-link fw-semibold p-0">View All Groups</a>
        </div>

        <div class="row">
            <th:block th:each="group : ${groups}">
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="h3 mb-1" th:text="${group.detail.title}">Card title</h4>
                            <p class="text-muted fw-semibold mb-2">
                                <span th:text="${group.participants.size()}"></span>
                                <span th:text="${group.participants.size() == 1 ? 'Member' : 'Members'}"></span>
                            </p>
                            <p th:text="${#strings.length(group.detail.description) > 120 ? #strings.substring(group.detail.description, 0, 120) + '...' : group.detail.description}"></p>
                            <a th:href="${group.pathname}" class="btn btn-lg btn-link p-0">View Group<i class="ai-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>

        <p class="my-4" th:if="${#lists.isEmpty(groups)}">You are currently not a part of any groups.</p>

    </div>

</main>
<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>






