<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('Create New Group')}">
    <title>Create Group</title>
</head>
<body>
<header th:replace="~{partials/navbar}"></header>

<div class="container mt-4">
    <h1>Create New Event</h1>
    <form action="#" th:action="@{/my/event/create}" method="post">

        <div>
            <label class="form-label">Choose date and time</label>
            <div class="position-relative">
                <input class="form-control date-picker pe-5" type="text" placeholder="Choose date and time" data-datepicker-options='{"enableTime": true, "altInput": true, "altFormat": "F j, Y H:i", "dateFormat": "Y-m-d H:i"}'>
                <i class="ai-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
            </div>
        </div>

        <div>
            <button class="btn btn-primary" type="submit">Create Event</button>
        </div>
    </form>
</div>

<script th:src="@{/js/flatpickr.min.js}"></script>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>