<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - My Dashboard')}"><title>Placeholder Title</title></head>
<body class="bg-secondary">
<header th:insert="~{partials/navbar}"></header>

<div class="container mt-4">
    <div class="row flex-column flex-md-row">
        <aside th:replace="~{partials/dashboard-nav :: nav}"></aside>
        <aside class="col-md-10 px-md-4">
            <form th:action="@{/my/groups/admin/{id}(id=${group.id})}" th:object="${group}" method="post">
                <section class="card border-0 my-4">
                    <div class="card-body">
                        <h3>Basic Information</h3>
                        <div class="mb-2">
                            <label class="form-label" for="name">Name</label>
                            <input class="form-control" id="name" type="text" th:field="*{name}">
                        </div>
                        <div class="mb-4">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" id="description" th:field="*{description}"></textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">Update Core Information</button>
                    </div>
                </section>
            </form>
            <section class="card border-0 my-4">
                <div class="card-body">
                    <h3>Events</h3>
                    <p>The group does not have any scheduled events linked on the platform.</p>
                </div>
            </section>
            <section class="card border-0 my-4">
                <div class="card-body">
                    <h3>Announcements</h3>
                    <p>The group does not have any recent announcements.</p>
                </div>
            </section>
            <section class="card border-0 my-4">
                <div class="card-body">
                    <h3>Posts</h3>
                    <p>The group does not have any posts.</p>
                </div>
            </section>
            <section class="card border-0 my-4">
                <div class="card-body">
                    <h3>Delete Group</h3>
                    <p>The action is not reversible. All administrators and members will be emailed when the group is deleted.</p>
                    <form method="post" action="/my/groups/admin/delete"> <!-- Update the action URL accordingly -->
                        <!-- CSRF token if needed for security -->
                        <button type="submit" class="btn btn-danger">Delete Group</button>
                    </form>
                </div>
            </section>
        </aside>
    </div>
</div>

<script th:replace="~{partials/theme-js}"></script>
</body>
</html>