<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - My Dashboard')}"><title>Placeholder Title</title></head>
<body class="bg-secondary">
<header th:insert="~{partials/navbar}"></header>

<div class="container mt-4">
    <div class="row flex-column flex-md-row">
        <aside th:replace="~{partials/dashboard-nav :: nav}"></aside>
        <aside class="col-md-10 px-md-4">
            <div class="mt-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="display-4">My Groups</h1>
                    <a href="/my/groups/create" class="btn btn-outline-primary">Create Group</a>
                </div>
                <th:block th:each="group : ${groups}">
                    <div class="col-md-6 my-4">
                        <div class="card">
                            <div class="card-body">
                                <h3 th:text="${group.name}">Group Name</h3>
                                <p th:text="${group.description}">Group Description</p>
                                <a th:href="@{/my/groups/{id}(id=${group.id})}" class="btn btn-sm btn-primary me-2 mb-2">Member View</a>
                                <a th:href="@{/my/groups/admin/{id}(id=${group.id})}" class="btn btn-sm btn-outline-primary mb-2">Admin View</a>
                            </div>
                        </div>
                    </div>
                </th:block>
                <p th:if="${#lists.isEmpty(groups)}">There are no groups created.</p>
            </div>
        </aside>
    </div>
</div>

<script th:replace="~{partials/theme-js}"></script>
</body>
</html>



