<!doctype html>
<html lang="en">
<head th:replace="~{partials/head :: head('FremontMI - Error')}"></head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="mb-3 display-3">Oops! Something went wrong.</h1>
            <p class="mb-4 lead">We're sorry, but something went wrong. Please try again, or go back to the homepage.</p>
            <a href="/" class="btn btn-primary">Return to Home</a>
        </div>
    </div>
</div>
</body>
</html>