<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head th:replace="partials/head :: head('FremontMI - Groups')"><title>Placeholder Title</title></head>
<body>
<header th:insert="~{partials/navbar}"></header>
<main class="bg-secondary">
    <div class="container">
    <h1 class="display-3 mt-4">Groups</h1>
    <div class="container mt-4">
        <div class="row">
            <div th:each="group : ${groups}" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title" th:text="${group.name}">Card title</h4>
                        <p class="card-text text-body-secondary" th:text="${group.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <div sec:authorize="!isAuthenticated()">
                            <a href="/register">Register to join
                            </a>
                        </div>
                        <div sec:authorize="isAuthenticated()">
                            <a href="#" class="btn btn-primary">Join</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</main>
<footer th:replace="partials/footer"></footer>
</body>
</html>

