<div th:fragment="dayEvents" th:object="${event}">
    <div th:each="dayEvent, iterStat : *{days}">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group mb-2">
                    <label for="startTime" class="mb-1 form-label opacity-75 fw-medium fs-base">Start Day & Time</label>
                    <div class="position-relative">
                        <input id="startTime" class="form-control date-picker pe-5" type="datetime-local"
                               th:field="*{days[__${iterStat.index}__].startTime}"
                               placeholder="Choose date and time"
                               data-datepicker-options='{"enableTime": true, "altInput": true, "altFormat": "F j, Y h:i K", "dateFormat": "Y-m-d h:i K"}'>
                        <i class="ai-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
                    </div>
                    <div th:if="${#fields.hasErrors('days[__${iterStat.index}__].startTime')}"
                         th:errors="*{days[__${iterStat.index}__].startTime}" class="alert alert-danger"></div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group mb-2">
                    <label for="endTime" class="mb-1 form-label opacity-75 fw-medium fs-base">End Day & Time <span
                            class="text-muted">(optional)</span></label>
                    <div class="position-relative">
                        <input id="endTime" class="form-control date-picker pe-5" type="datetime-local"
                               th:field="*{days[__${iterStat.index}__].endTime}"
                               placeholder="Choose date and time"
                               data-datepicker-options='{"enableTime": true, "altInput": true, "altFormat": "F j, Y h:i K", "dateFormat": "Y-m-d h:i K"}'>
                        <i class="ai-calendar position-absolute top-50 end-0 translate-middle-y me-3"></i>
                    </div>
                    <div th:if="${#fields.hasErrors('days[__${iterStat.index}__].endTime')}"
                         th:errors="*{days[__${iterStat.index}__].endTime}" class="alert alert-danger"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 d-flex justify-content-between">
        <a class="d-block text-start btn btn-link p-1"
           hx-post="/create/event/add-day"
           hx-swap="innerHTML"
           hx-target="#dayEvents">+ Add Another Day and Time</a>

        <a th:if="${event.getDays().size() > 1}" class="d-block text-end btn btn-link text-danger p-1"
           hx-post="/create/event/remove-day"
           hx-swap="innerHTML"
           hx-target="#dayEvents">Remove</a>
    </div>
</div>
