<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/layout :: sharedHead}"></th:block>
    <title>[[${business.name}]] - Business in Fremont, MI</title>
    <meta name="description" th:content="${#strings.length(business.description) > 160 ? #strings.substring(business.description, 0, 157) + '...' : business.description}" />
    <th:block th:if="${business.tags != null and #lists.size(business.tags) > 0}">
        <meta name="keywords" th:content="${#strings.arrayJoin(business.tags, ', ')}" />
    </th:block>
</head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main>
    <div class="container my-4">

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="text-end mb-2" th:if="${isAdmin}">
                    <a th:href="'/edit/business/' + ${business.slug}" class="btn btn-secondary btn-icon" aria-label="Edit" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit">
                        <i class="ai-edit-alt"></i>
                    </a>
                </div>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/businesses">Businesses</a></li>
                        <li class="breadcrumb-item active" aria-current="page" th:text="${business.name}"></li>
                    </ol>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto mb-4">
                <h1 th:text="${business.name}" class="display-3 mb-3">Fremont Business Name</h1>

                <ul class="list-unstyled">
                    <li class="nav flex-nowrap mb-3" th:if="${business.address} != null and !${#strings.isEmpty(business.address)}">
                        <i class="ai-map-pin lead text-primary me-2"></i>
                        <span class="nav-link fw-normal p-0 mt-n1" th:text="${business.address}">514 S. Magnolia St. Orlando, FL 32806</span>
                    </li>
                    <li class="nav flex-nowrap mb-3" th:if="${business.phoneNumber} != null and !${#strings.isEmpty(business.phoneNumber)}">
                        <i class="ai-phone lead text-primary me-2"></i>
                        <a class="nav-link fw-normal p-0 mt-n1" th:href="'tel:'+${business.phoneNumber}" th:text="${business.phoneNumber}">+1&nbsp;(786)&nbsp;322&nbsp;560&nbsp;40</a>
                    </li>
                    <li class="nav flex-nowrap mb-3" th:if="${business.displayEmail} and ${business.email} != null and !${#strings.isEmpty(business.email)}">
                        <i class="ai-mail lead text-primary me-2"></i>
                        <a class="nav-link fw-normal p-0 mt-n1" th:href="'mailto:' + ${business.email}" th:text="${business.email}">orlando@example.com</a>
                    </li>
                    <li class="nav flex-nowrap mb-3" th:if="${business.website} != null and !${#strings.isEmpty(business.website)}">
                        <i class="ai-globe lead text-primary me-2"></i>
                        <a class="nav-link fw-normal p-0 mt-n1" th:href="${business.website}" target="_blank" rel="noopener noreferrer" th:text="${business.website}">www.example.com</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="fs-sm text-uppercase mb-3">What we do</div>
                <h2 class="display-6" th:text="${business.headline}">We are a team who create marketing strategies</h2>
                <p th:utext="${business.description}" class="fs-xl">Morbi et massa fames ac scelerisque sit commodo dignissim <strong>faucibus quisque proin</strong> lectus laoreet sem adipiscing sollicitudin erat massa tellus lorem enim aenean phasellus in hendrerit interdum lorem proin pretium dictum urna suspendisse quis risus et.</p>
            </div>
        </div>

    </div>
</main>


<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
<script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
        const urlParams = new URLSearchParams(window.location.search);
        const success = urlParams.get('subscribed');

        if (success === 'true') {
            confetti({
                particleCount: 100,
                spread: 70,
                origin: { y: 0.6 }
            });

            const duration = 5 * 1000; // 5 seconds
            const animationEnd = Date.now() + duration;
            const defaults = { startVelocity: 30, spread: 360, ticks: 60, zIndex: 0 };

            function randomInRange(min, max) {
                return Math.random() * (max - min) + min;
            }

            const interval = setInterval(function() {
                const timeLeft = animationEnd - Date.now();

                if (timeLeft <= 0) {
                    return clearInterval(interval);
                }

                const particleCount = 50 * (timeLeft / duration);
                confetti(Object.assign({}, defaults, {
                    particleCount,
                    origin: { x: randomInRange(0.1, 0.3), y: Math.random() - 0.2 }
                }));
                confetti(Object.assign({}, defaults, {
                    particleCount,
                    origin: { x: randomInRange(0.7, 0.9), y: Math.random() - 0.2 }
                }));
            }, 250);
        }
    });
</script>
</body>
</html>