<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - Businesses')}"><title>Placeholder Title</title></head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main class="bg-secondary pt-4 pb-5">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h1 class="display-3 mb-0">Businesses</h1>
            <div>
                <a href="/my/businesses" class="btn btn-link fw-semibold fs-lg text-primary">My Business Listings</a>
                <a href="/create/business/overview" class="btn btn-primary">Create Business Listing</a>
            </div>
        </div>

        <div class="row">
            <div th:if="${#lists.isEmpty(businesses)}" class="my-4">
                <div>
                    There are no businesses listed at the moment.
                </div>
            </div>
            <div th:each="business : ${businesses}" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="h3 mb-1" th:text="${business.name}">Business Name</h4>
                        <p class="text-muted fw-semibold mb-2">
                            <span th:text="${business.address}">Business Address</span>
                        </p>
                        <p th:text="${#strings.length(business.headline) > 120 ? #strings.substring(business.headline, 0, 120) + '...' : business.headline}">
                            Business Description
                        </p>
                        <a th:href="'/businesses/' + ${business.id}" class="btn btn-lg btn-link p-0">View Business<i class="ai-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{partials/footer}"></footer>
</body>
</html>