<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('Create Business Listing')}">
    <title>Create Business</title>
</head>
<body>
<header th:replace="~{partials/navbar}"></header>

<main>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <h1 class="display-4">Create Business Listing</h1>
                <p>Please only create business listings that serve Fremont, MI. Content not related to Fremont, Michigan can be removed at any time.</p>

                <form id="create-business-form" th:action="@{/create/business}" th:object="${business}" method="post" onsubmit="disableSubmitButtonWhileSubmitting(this)">

                    <div class="my-3 mb-sm-0">
                        <p class="form-label opacity-75 fw-medium fs-base mb-1">Average Distance</p>
                        <p class="fs-sm mb-2">Only create business listings that are located within a 15-mile radius from the center of Fremont, MI (Main St & Division Ave).</p>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="radio" class="btn-check" id="option1" name="nearby" value="false" checked>
                                <label for="option1" class="w-100 btn btn-outline-secondary px-2">
                                    <span class="mx-1">Within 5 Miles</span>
                                </label>
                                <p></p>
                            </div>
                            <div class="col-sm-6">
                                <input type="radio" class="btn-check" id="option2" name="nearby" value="true">
                                <label for="option2" class="w-100 btn btn-outline-secondary px-2">
                                    <span class="mx-1">Within 15 Miles</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="mb-1 form-label opacity-75 fw-medium fs-base" for="title">Business Title</label>
                        <input type="text" class="form-control" id="title" th:field="*{title}" placeholder="Enter business title">
                        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="alert alert-danger"></div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="mb-1 form-label opacity-75 fw-medium fs-base" for="headline">Business Headline</label>
                        <textarea class="form-control" id="headline" th:field="*{headline}" rows="3" placeholder="Business headline"></textarea>
                        <div th:if="${#fields.hasErrors('headline')}" th:errors="*{headline}" class="alert alert-danger"></div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="mb-1 form-label opacity-75 fw-medium fs-base" for="description">Description</label>
                        <textarea class="form-control" id="description" th:field="*{description}" rows="3" placeholder="Business description"></textarea>
                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="alert alert-danger"></div>
                    </div>

                    <div th:replace="~{partials/tag-input}"></div>

                    <div class="form-group mb-3">
                        <label class="mb-1 form-label opacity-75 fw-medium fs-base" for="address">Address</label>
                        <input type="text" class="form-control" id="address" th:field="*{address}" placeholder="Enter business address">
                        <div th:if="${#fields.hasErrors('address')}" th:errors="*{address}" class="alert alert-danger"></div>
                    </div>

                    <div class="form-group mb-3">
                        <label class="mb-1 form-label opacity-75 fw-medium fs-base" for="phoneNumber">Phone Number</label>
                        <input type="text" class="form-control" id="phoneNumber" th:field="*{phoneNumber}" placeholder="Enter phone number">
                        <div th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" class="alert alert-danger"></div>
                    </div>

                    <div class="form-group mb-1">
                        <label class="mb-1 form-label opacity-75 fw-medium fs-base" for="email">Email</label>
                        <input type="email" class="form-control" id="email" th:field="*{email}" placeholder="Enter business email">
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></div>
                    </div>

                    <div class="form-check form-switch mb-3">
                        <input type="checkbox" class="form-check-input" id="displayEmail" th:field="*{displayEmail}">
                        <label class="form-check-label" for="displayEmail">Display email on business page</label>
                    </div>

                    <div class="form-group mb-3">
                        <label class="mb-1 form-label opacity-75 fw-medium fs-base" for="website">Website</label>
                        <input type="text" class="form-control" id="website" th:field="*{website}" placeholder="Enter business website">
                        <div th:if="${#fields.hasErrors('website')}" th:errors="*{website}" class="alert alert-danger"></div>
                    </div>

                    <div class="mt-4">
                        <button class="btn btn-primary" type="submit">Create Business</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const phoneNumberInput = document.getElementById('phoneNumber');

        phoneNumberInput.addEventListener('input', function (event) {
            // Remove all non-digit characters
            let input = phoneNumberInput.value.replace(/\D/g, '');

            // Format the input based on length
            if (input.length > 3 && input.length <= 6) {
                input = `(${input.substring(0, 3)}) ${input.substring(3)}`;
            } else if (input.length > 6) {
                input = `(${input.substring(0, 3)}) ${input.substring(3, 6)}-${input.substring(6, 10)}`;
            } else if (input.length > 0) {
                input = `(${input}`;
            }

            // Set the formatted value back to the input field
            phoneNumberInput.value = input;
        });
    });
</script>

<script th:replace="~{partials/theme-js}"></script>
<footer th:replace="~{partials/newFooter}"></footer>
</body>
</html>
