<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - Businesses')}"><title>Placeholder Title</title></head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main>
    <div class="container">

        <div class="row">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="display-3">List Your Business</h1>
                <p class="lead">Get your business listed on the platform to be easily found by new and returning customers. Plus, each business listing comes with a built-in contact form so customers can reach out to you directly, without friction.</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="steps steps-horizontal-md steps-center">

                <div class="step active">
                    <div class="step-number">
                        <div class="step-number-inner">01</div>
                    </div>
                    <div class="step-body">
                        <h5 class="pb-1 mb-2">Overview & Pricing</h5>
                        <p class="mb-0">
                            Select a subscription plan for your business listing, either monthly or annually. Each subscription applies to a single business listing.
                        </p>
                    </div>
                </div>

                <div class="step">
                    <div class="step-number">
                        <div class="step-number-inner">02</div>
                    </div>
                    <div class="step-body">
                        <h5 class="pb-1 mb-2">Create Your Business Listing</h5>
                        <p class="mb-0">
                            Fill in your core business details with a simple form. This information will help customers understand what your business provides and find you easily.
                        </p>
                    </div>
                </div>

                <div class="step">
                    <div class="step-number">
                        <div class="step-number-inner">03</div>
                    </div>
                    <div class="step-body">
                        <h5 class="pb-1 mb-2">Complete Your Subscription</h5>
                        <p class="mb-0">
                            Enter your payment details to activate your subscription. Once your subscription is active, your business will be listed on the platform and ready to be discovered.
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body w-100 mx-auto text-center" style="max-width: 23rem;">
                        <h3>Monthly</h3>
                        <div class="display-2 text-primary">$10</div>
                        <div class="mb-4">per month</div>
                        <p class="mb-4 pb-4">Perfect for businesses that want flexibility without a long-term commitment.</p>
                        <form th:action="@{/setup/create/business}" method="post" id="monthly-subscription-form">
                            <input type="hidden" name="priceId" value="price_1Pv7V0BCHBXtJFxOinfPKMUE" />
                            <button class="btn btn-primary w-100" type="submit">Proceed with Monthly Subscription</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-4 mt-md-0">
                <div class="card border-primary bg-primary">
                    <div class="card-body w-100 mx-auto text-center" style="max-width: 23rem;">
                        <h3 class="text-light">Annual</h3>
                        <div class="display-2 text-light">$100</div>
                        <div class="text-light opacity-70 mb-4">per year</div>
                        <p class="text-light opacity-70 mb-4 pb-4">Save money with the annual plan. Ideal for businesses looking for long-term growth.</p>
                        <form th:action="@{/setup/create/business}" method="post" id="annual-subscription-form">
                            <input type="hidden" name="priceId" value="price_1Pv7XIBCHBXtJFxOUIvRA6Xf" />
                            <button class="btn btn-light w-100" type="submit">Proceed with Annual Subscription</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>
</main>

<footer th:replace="~{partials/footer}"></footer>
</body>
</html>