<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{partials/head :: head('FremontMI - Businesses')}"><title>Placeholder Title</title></head>
<body>
<header th:insert="~{partials/navbar}"></header>

<main class="bg-secondary pt-4 pb-5">
    <div class="container">

        <div class="d-none d-md-flex justify-content-between align-items-center mb-4">
            <h1 class="display-3 mb-0">My Businesses</h1>
            <div>
                <a href="/businesses" class="btn btn-link fw-semibold fs-lg text-primary">All Business Listings</a>
                <a href="/create/business" class="btn btn-primary">Create</a>
            </div>
        </div>
        <div class="d-md-none mb-4">
            <div class="d-flex justify-content-end">
                <a href="/create/business" class="btn btn-primary fw-semibold py-2 px-3">Create</a>
            </div>
            <h1 class="display-3 mb-0">My Businesses</h1>
            <a href="/businesses" class="btn btn-link fw-semibold p-0">My Business Listings</a>
        </div>

        <div class="row">
            <div th:if="${#lists.isEmpty(businesses)}" class="my-4">
                <div>
                    You have no business listings at the moment.
                </div>
            </div>
            <div th:each="business : ${businesses}" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="h3 mb-1" th:text="${business.detail.title}">Business Name</h4>
                        <p th:text="${#strings.length(business.detail.description) > 120 ? #strings.substring(business.detail.description, 0, 120) + '...' : business.detail.description}">
                            Business Description
                        </p>
                        <a th:href="${business.pathname}" class="btn btn-lg btn-link p-0">View Business<i class="ai-arrow-right ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/js/theme.min.js}" th:fragment="themeScriptFragment"></script>
<footer th:replace="~{partials/footer}"></footer>
</body>
</html>