<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/layout :: sharedHead}"></th:block>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.css" rel="stylesheet" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.12.0/mapbox-gl.js"></script>
    <title>Best Parks in Fremont, MI</title>
    <meta name="description" content="Discover the top parks in Fremont, MI, including Branstrom Park, Fremont Lake Park, Arboretum Park, Veterans Memorial Park, and Fremont Dog Park. Find out what each park offers for nature enthusiasts, families, and pet owners." />
    <meta name="keywords" content="Fremont MI parks, Branstrom Park, Fremont Lake Park, Arboretum Park, Veterans Memorial Park, Fremont Dog Park, family parks, nature parks, recreation, outdoor activities, Michigan parks" />
</head>


<body>
<header th:insert="~{partials/navbar}"></header>

<div id="map" style="width: 100%; min-height: 350px;"></div>


<main class="container py-5">
    <div class="row">
        <div class="col-lg-9 col-xl-8 mx-auto">

            <h1 class="pb-2 pb-lg-3">Parks in Fremont, MI</h1>
            <p class="lead">We're working towards building a comprehensive guide to what parks are available to the public right here within our community.</p>
            <div class="d-flex flex-wrap align-items-center justify-content-between border-bottom mb-4">
                <div class="d-flex align-items-center mb-4 me-4">
                </div>
                <div class="d-flex align-items-center mb-4">
                    <span class="fs-sm me-2">Share article:</span>
                    <div class="d-flex">
                        <a class="nav-link me-2" href="https://www.facebook.com/sharer/sharer.php?u=https://fremontmi.com/articles/parks"
                           data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Facebook" data-bs-original-title="Facebook" target="_blank">
                            <i class="ai-facebook"></i>
                        </a>
                        <a class="nav-link" href="https://x.com/intent/tweet?text=Check%20out%20this%20guide%20on%20Parks%20in%20Fremont&url=https://fremontmi.com/articles/parks" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="X" data-bs-original-title="X">
                            <i class="ai-x"></i>
                        </a>
                    </div>
                </div>
            </div>

            <h2 class="h4 mb-2 pt-3 pt-md-4 pt-xl-5">Veterans Memorial Park</h2>
            <p class="my-2"><strong>Address:</strong> 119 W Main St, Fremont, Michigan 49412</p>
            <p class="fs-lg">Located in the heart of downtown, Veterans Memorial Park is designed for various events, festivals, and activities, making it a central gathering space for the community.</p>
            <figure class="figure">
                <img class="figure-img rounded-5 mb-3" src="/images/veterans-park-altered.webp" alt="Veterans Memorial Park">
            </figure>

            <h2 class="h4 mb-2 pt-3 pt-md-4 pt-xl-5">Branstrom Park</h2>
            <p class="my-2"><strong>Address:</strong> Branstrom Dr, Fremont, MI 49412</p>
            <p class="fs-lg">Branstrom Park is the largest park in Fremont, offering over 100 acres of woodlands and various amenities such as trails, a lodge, and a playground.</p>

            <h2 class="h4 mb-2 pt-3 pt-md-4 pt-xl-5">Fremont Lake Park</h2>
            <p class="my-2"><strong>Address:</strong> 955 Cottage Grove, Fremont, MI 49412</p>
            <p class="fs-lg">Fremont Lake Park is a 17-acre park featuring a bathhouse, playground equipment, sand volleyball court, shelters, and more. It also has a boat launch and camping facilities.</p>

            <h2 class="h4 mb-2 pt-3 pt-md-4 pt-xl-5">Arboretum Park</h2>
            <p class="my-2"><strong>Address:</strong> 529 Iroquois Dr, Fremont, MI 49412</p>
            <p class="fs-lg">This seven-acre park is devoted to native Michigan trees, shrubs, and wildflowers, making it an ideal spot for nature enthusiasts and families.</p>

            <h2 class="h4 mb-2 pt-3 pt-md-4 pt-xl-5">Fremont Dog Park</h2>
            <p class="my-2"><strong>Address:</strong> 320 Lake Dr, Fremont, MI 49412</p>
            <p class="fs-lg">A secure off-leash park where well-behaved dogs can play and exercise, providing a safe environment for pets and their owners.</p>
            <figure class="figure">
                <img class="figure-img rounded-5 mb-3" src="/images/dog-park-altered.webp" alt="Fremont Dog Park">
            </figure>

            <h2 class="h4 mb-2 pt-3 pt-md-4 pt-xl-5">Fremont Christian Park</h2>
            <p class="my-2"><strong>Address:</strong> 110 N Decker Ave, Fremont, MI, 49412</p>
            <p class="fs-lg">The park features multiple swings, a rock climbing structure that leads to exciting slides, and plenty of open space for kids to run and play freely. It’s a perfect spot for families looking for a fun and safe environment for their children to enjoy outdoor activities.</p>
            <figure class="figure">
                <img class="figure-img rounded-5 mb-3" src="/images/christian-school-altered.webp" alt="Fremont Christian Park">
            </figure>

            <h2 class="h4 mb-2 pt-3 pt-md-4 pt-xl-5">Church of the Living Christ Park</h2>
            <p class="my-2"><strong>Address:</strong> 605 Hemlock St, Fremont, MI 49412</p>
            <p class="fs-lg">Designed with younger children in mind, it features a unique sand-covered terrain that’s perfect for imaginative play. The park is filled with various toys and play structures, providing endless entertainment for kids to explore, dig, and create.</p>
            <figure class="figure">
                <img class="figure-img rounded-5 mb-3" src="/images/sand-park-altered.webp" alt="Church of the Living Christ Park">
            </figure>


        </div>
    </div>

    <section class="bg-secondary container pt-5 pb-3 pb-xl-4 py-xxl-5 my-5">

        <div class="row pb-1 pb-sm-3 pb-lg-4">

            <div class="col-lg-8 col-xl-7 offset-xl-1 mx-auto">
                <!-- Page title -->
                <h1 class="display-6 text-center">Did we miss one?</h1>
                <p class="fs-lg pb-4 mb-0 mb-sm-2 text-center">Feel free to send us your feedback so we can improve this article.</p>
                <!-- Contact form -->
                <form class="row g-4 needs-validation" novalidate="" id="contactForm">
                    <div class="col-sm-6">
                        <label class="form-label fs-base" for="name">Name</label>
                        <input class="form-control form-control-lg" type="text" placeholder="Your name" required="" id="name">
                        <div class="invalid-feedback">Please enter your name!</div>
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label fs-base" for="email">Email</label>
                        <input class="form-control form-control-lg" type="email" placeholder="Email address" required="" id="email">
                        <div class="invalid-feedback">Please provide a valid email address!</div>
                    </div>
                    <div class="col-sm-12">
                        <label class="form-label fs-base" for="message">How can we improve this article?</label>
                        <textarea class="form-control form-control-lg" rows="5" placeholder="Enter your message here..." required="" id="message"></textarea>
                        <div class="invalid-feedback">Please enter your message!</div>
                    </div>
                    <div class="col-sm-12 pt-2">
                        <button id="submit-button" class="btn btn-lg btn-primary" type="button" onclick="submitContactForm()">Send message</button>
                        <button id="loading-button" class="btn btn-lg btn-primary pe-none" type="button" style="display: none;">
                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </form>

                <div id="form-message" class="alert mt-4" style="display: none;"></div>
            </div>
        </div>
    </section>
</main>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoicHBsYWR6aWV3aWN6IiwiYSI6ImNtMXMwdmdsNDAxOXcyc29teTh3NW51MW8ifQ.2nbMyJSSmrTH6VrZtWMmSA';

    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v12',
        center: [-85.940155, 43.467142],
        zoom: 12,
        minZoom: 12,
        maxZoom: 16,
        attributionControl: false
    });

    map.addControl(new mapboxgl.AttributionControl({
        compact: true
    }));

    const parks = [
        {
            name: 'Veterans Memorial Park',
            address: '119 W Main St, Fremont, Michigan 49412',
            coordinates: [-85.94811262283584, 43.46757912321874]
        },
        {
            name: 'Branstrom Park',
            address: 'Branstrom Dr, Fremont, MI 49412',
            coordinates: [-85.94160111351381, 43.4768509983372]
        },
        {
            name: 'Fremont Lake Park',
            address: '955 Cottage Grove, Fremont, MI 49412',
            coordinates: [-85.96235414088008, 43.45898839491141]
        },
        {
            name: 'Arboretum Park',
            address: '529 Iroquois Dr, Fremont, MI 49412',
            coordinates: [-85.93062903859978, 43.46341266726614]
        },
        {
            name: 'Fremont Dog Park',
            address: '320 Lake Dr, Fremont, MI 49412',
            coordinates: [-85.95631976158714, 43.463850642243315],
        },
        {
            name: 'Church of the Living Christ Park',
            address: '605 Hemlock St, Fremont, MI 49412',
            coordinates: [-85.956635, 43.473678]
        },
        {
            name: 'Fremont Christian Park',
            address: '110 N Decker Ave, Fremont, MI, 49412',
            coordinates: [-85.936536, 43.468116]
        }
    ];

    parks.forEach(function (park) {
        let marker = new mapboxgl.Marker()
            .setLngLat(park.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 })
                .setHTML('<h3 class="h5 mb-1">' + park.name + '</h3><p class="m-0">' + park.address + '</p>'))
            .addTo(map);
    });
</script>

<script>
    async function submitContactForm() {
        const form = document.getElementById('contactForm');
        const submitButton = document.getElementById('submit-button');
        const loadingButton = document.getElementById('loading-button');
        const formMessage = document.getElementById('form-message');
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="csrf-header"]').getAttribute('content');

        if (!form.checkValidity()) {
            form.classList.add('was-validated');
            return;
        }

        const formData = {
            name: document.getElementById('name').value,
            email: document.getElementById('email').value,
            message: document.getElementById('message').value
        };

        submitButton.style.display = 'none';
        loadingButton.style.display = 'block';

        try {
            const response = await fetch('/article-contact', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    [csrfHeader]: csrfToken
                },
                body: JSON.stringify(formData)
            });

            if (response.ok) {
                formMessage.style.display = 'block';
                formMessage.classList.remove('alert-danger');
                formMessage.classList.add('alert-primary');
                formMessage.innerText = 'Thank you for your feedback! We have received your message.';

                form.reset();
                form.classList.remove('was-validated');
            } else {
                throw new Error('Submission failed');
            }
        } catch (error) {
            formMessage.style.display = 'block';
            formMessage.classList.remove('alert-success');
            formMessage.classList.add('alert-danger');
            formMessage.innerText = 'Failed to submit the form. Please try again later.';
        } finally {
            loadingButton.style.display = 'none';
            submitButton.style.display = 'block';
        }
    }
</script>


<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>
