<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/layout :: minimalHead}"></th:block>
    <title>Prepare To Vote in Fremont, MI</title>
    <meta name="description" content="Prepare to vote in Fremont, MI for the upcoming election on November 5th, 2024." />
    <meta name="keywords" content="Fremont MI voting, voter registration Fremont, November 5th election, local elections Fremont MI, polling locations, Michigan voter guide, vote in Fremont, election preparation" />
</head>


<body>
<header th:insert="~{partials/navbar}"></header>

<main class="container py-5">
    <div class="row">
        <div class="col-lg-9 col-xl-8 mx-auto">

            <h1 class="pb-2 pb-lg-3">Prepare To Vote in Fremont, MI</h1>
            <p class="lead">A simplified guide to make sure you are ready to vote on November 5th, 2024, in Fremont, MI.</p>
            <div class="d-flex flex-wrap align-items-center justify-content-between border-bottom mb-4">
                <div class="d-flex align-items-center mb-4 me-4">
                </div>
                <div class="d-flex align-items-center mb-4">
                    <span class="fs-sm me-2">Share article:</span>
                    <div class="d-flex">
                        <a class="nav-link me-2" href="https://www.facebook.com/sharer/sharer.php?u=https://fremontmi.com/articles/prepare-to-vote"
                           data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Facebook" data-bs-original-title="Facebook" target="_blank">
                            <i class="ai-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>

            <section class="mb-5">
                <h2 class="text-capitalize">Make sure you're registered to vote</h2>
                <p>There are a lot of options, but the simplest way is to check if you're already registered to vote is with the state website:</p>
                <a class="btn btn-primary mb-3" href="https://mvic.sos.state.mi.us/Voter/Index" target="_blank" referrerpolicy="no-referrer">Check if you're registered</a>
            </section>

            <section class="mb-5">
                <h2 class="text-capitalize">If you're not registered</h2>
                <p>Utilize this link below to register online if there is still time to do so. If there are 15+ days before an election, voters can register online.</p>
                <p class="fw-bold mb-1">Time remaining to register to vote online:</p>
                <div class="countdown d-flex mb-3" data-countdown-date="10/21/2024 00:00:00">
                    <div class="text-center">
                        <div class="h4 mb-0" data-days></div>
                        <span class="fs-sm">days</span>
                    </div>
                    <span class="blinking fs-xl mx-2">:</span>
                    <div class="text-center">
                        <div class="h4 mb-0" data-hours></div>
                        <span class="fs-sm">hours</span>
                    </div>
                    <span class="blinking fs-xl mx-2">:</span>
                    <div class="text-center">
                        <div class="h4 mb-0" data-minutes></div>
                        <span class="fs-sm">mins</span>
                    </div>
                    <span class="blinking fs-xl mx-2">:</span>
                    <div class="text-center">
                        <div class="h4 mb-0" data-seconds></div>
                        <span class="fs-sm">secs</span>
                    </div>
                </div>
                <a class="btn btn-primary mb-4" href="https://mvic.sos.state.mi.us/RegisterVoter?Length=0" target="_blank" referrerpolicy="no-referrer">Register to vote online</a>

                <h3>If there is no longer time to register online:</h3>
                <p>Within 14 days of an election, and on Election Day, voters may only register by visiting their local clerk’s office to register in person with proof of residency documentation.</p>

                <p class="mb-2">Address to visit local clerk's office:</p>
                <p>101 E Main Street<br/>Fremont, MI 49412</p>

            </section>

            <section class="mb-5">
                <h2 class="text-capitalize">Once your registered</h2>
                <p class="mb-2">In-person voting will take place at City Hall on November 5th, 2024:</p>
                <p>101 E Main Street<br/>Fremont, MI 49412</p>

            </section>

            <h4>Additional Information Links</h4>
            <a class="d-block" href="https://www.michigan.gov/sos/-/media/Project/Websites/sos/05mcalpine/photo_id_flyer.pdf?rev=a97660a57a54431a9c35e80a00b0e978&hash=80339AD55CE20E86B917C5659DA7EAAB">Voter Identification Requirement</a>
            <a class="d-block" href="https://www.michigan.gov/sos/elections/voting/absentee-voting">Absentee Voting</a>

        </div>
    </div>
</main>

<script th:src="@{/js/timezz.js}"></script>
<footer th:replace="~{partials/footer}"></footer>
<script th:replace="~{partials/theme-js}"></script>
</body>
</html>
