<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/layout :: sharedHead}"></th:block>
    <title>Articles - FremontMI</title>
    <meta name="description" content="Browse articles about parks, events, and more in Fremont, MI." />
</head>
<body>
<header th:insert="~{partials/navbar}"></header>
<main class="pt-4 pb-5">

    <div class="container">

        <div class="mb-4">
            <h1 class="display-3 mb-0">Articles</h1>
        </div>

        <div class="row">

            <div class="col-md-4 col-lg-4">
                <article class="card border-0 bg-secondary">
                    <a href="/articles/parks">
                        <img src="/images/veterans-park-altered.webp" class="card-img-top" alt="Post image">
                    </a>
                    <div class="card-body pb-4">
                        <div class="d-flex align-items-center mb-4 mt-n1">
                            <span class="fs-sm text-body-secondary">12 hours ago</span>
                            <span class="fs-xs opacity-20 mx-3">|</span>
                            <a href="#" class="badge text-nav fs-xs border">Outdoors</a>
                        </div>
                        <h3 class="h4 card-title">
                            <a href="/articles/parks">Top books for inspiration</a>
                        </h3>
                        <p class="card-text">Vulputate auctor lacus imperdiet facilisi tristique nisl pulvinar porta diam duis odio</p>
                    </div>
                </article>
            </div>

        </div>

    </div>

</main>
<script th:src="@{/js/theme.min.js}" th:fragment="themeScriptFragment"></script>
<footer th:replace="~{partials/footer}"></footer>
</body>
</html>
