<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{partials/layout :: sharedHead}"></th:block>
    <title>Articles - FremontMI</title>
    <meta name="description" content="Browse articles about parks, events, and more in Fremont, MI." />
</head>
<body>
<header th:insert="~{partials/navbar}"></header>
<main class="pt-4 pb-5">

    <div class="container">

        <div class="mb-4">
            <h1 class="display-3 mb-0">Articles</h1>
        </div>

        <div class="row">

            <div class="col-md-4 col-lg-4 mb-4">
                <article class="card border-0 bg-secondary">
                    <a href="/articles/cozy-cups">
                        <img src="https://cdn.fremontmi.com/images/coffee-shop.webp" class="card-img-top" alt="Post image">
                    </a>
                    <div class="card-body pb-4">
                        <div class="d-flex align-items-center mb-4 mt-n1">
                            <span class="fs-sm text-body-secondary">Created October 19, 2024</span>
                            <span class="fs-xs opacity-20 mx-3">|</span>
                            <a href="#" class="badge text-nav fs-xs border">Seasonal</a>
                        </div>
                        <h3 class="h4 card-title">
                            <a href="/articles/cozy-cups">Cozy Cups: Exploring Small Town Coffee Shops' Fall Favorites</a>
                        </h3>
                        <p class="card-text">Explore the cozy coffee culture in Fremont, MI, as we highlight small town coffee shops and their fall favorites.</p>
                    </div>
                </article>
            </div>

            <div class="col-md-4 col-lg-4 mb-4">
                <article class="card border-0 bg-secondary">
                    <a href="/articles/share-the-joy-give-toys-spread-smiles">
                        <img src="/images/toy-drive.webp" class="card-img-top" alt="Post image">
                    </a>
                    <div class="card-body pb-4">
                        <div class="d-flex align-items-center mb-4 mt-n1">
                            <span class="fs-sm text-body-secondary">Created October 16, 2024</span>
                            <span class="fs-xs opacity-20 mx-3">|</span>
                            <a href="#" class="badge text-nav fs-xs border">Support</a>
                        </div>
                        <h3 class="h4 card-title">
                            <a href="/articles/share-the-joy-give-toys-spread-smiles">Share the Joy: Give Toys, Spread Smiles</a>
                        </h3>
                        <p class="card-text">As the holiday season nears, share the joy of giving by donating gently used toys to local organizations in Fremont, MI.</p>
                    </div>
                </article>
            </div>

            <div class="col-md-4 col-lg-4 mb-4">
                <article class="card border-0 bg-secondary">
                    <a href="/articles/coming-soon-taqueria-de-gallo">
                        <img src="/images/taqueriadegallo.png" class="card-img-top" alt="Post image">
                    </a>
                    <div class="card-body pb-4">
                        <div class="d-flex align-items-center mb-4 mt-n1">
                            <span class="fs-sm text-body-secondary">Created October 13, 2024</span>
                            <span class="fs-xs opacity-20 mx-3">|</span>
                            <a href="#" class="badge text-nav fs-xs border">Restaurants</a>
                        </div>
                        <h3 class="h4 card-title">
                            <a href="/articles/coming-soon-taqueria-de-gallo">Taqueria De Gallo Coming Soon</a>
                        </h3>
                        <p class="card-text">Get ready to savor the authentic Mexican flavors at Taqueria De Gallo, set to open soon in Fremont, MI.</p>
                    </div>
                </article>
            </div>

            <div class="col-md-4 col-lg-4 mb-4">
                <article class="card border-0 bg-secondary">
                    <div class="card-body pb-4">
                        <div class="d-flex align-items-center mb-4 mt-n1">
                            <span class="fs-sm text-body-secondary">Created October 9, 2024</span>
                            <span class="fs-xs opacity-20 mx-3">|</span>
                            <a href="#" class="badge text-nav fs-xs border">Voting</a>
                        </div>
                        <h3 class="h4 card-title">
                            <a href="/articles/prepare-to-vote">Prepare To Vote</a>
                        </h3>
                        <p class="card-text">A simplified guide to make sure you are ready to vote on November 5th, 2024, in Fremont, MI.</p>
                    </div>
                </article>
            </div>

            <div class="col-md-4 col-lg-4 mb-4">
                <article class="card border-0 bg-secondary">
                    <a href="/articles/parks">
                        <img src="/images/dog-park-altered.webp" class="card-img-top" alt="Post image">
                    </a>
                    <div class="card-body pb-4">
                        <div class="d-flex align-items-center mb-4 mt-n1">
                            <span class="fs-sm text-body-secondary">Created October 2, 2024</span>
                            <span class="fs-xs opacity-20 mx-3">|</span>
                            <a href="#" class="badge text-nav fs-xs border">Outdoors</a>
                        </div>
                        <h3 class="h4 card-title">
                            <a href="/articles/parks">Parks in Fremont, MI</a>
                        </h3>
                        <p class="card-text">We're working towards building a comprehensive guide to what parks are available to the public right here within our community.</p>
                    </div>
                </article>
            </div>

        </div>

    </div>

</main>
<script th:src="@{/js/theme.min.js}" th:fragment="themeScriptFragment"></script>
<footer th:replace="~{partials/newFooter}"></footer>
</body>
</html>
